.ActivitiesContent {
  height: 100%;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: minmax(300px, 500px) minmax(500px, 100%);
  color: gainsboro;
  background-color: var(--DarkNavyBlue);
}
.ActivitiesMenu {
  grid-column: 1;
  width: 100%;
  height: 100%;
  background: var(--LightNavyBlue);
  text-align: center;
  position: relative;
}
.ActivitiesMenu > #div {
  display: block;
  background-color: var(--LightNavyBlue);
}
.RecentActivitiesView {
  grid-column: 1;
  overflow-x: hidden;
  height: 100%;
  font-size: 14px;
  border-right: 1px var(--DarkNavyBlue) solid;
  background-color: var(--DarkNavyBlue);
}
.leftActivityContainer {
  width: 100%;
  border: 1px var(--DarkNavyBlue) solid;
  border-top: 0px;
  background-color: var(--NavyBlue);
  min-height: 70px;
  max-height: 70px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 15% 45% 20% 20%;
}
.lastActivity:hover, .previousActivity:hover {
  background-color: var(--LightNavyBlue);
  cursor:pointer;
}
.activityTitle {
  margin-top: 0px;
}
.activeDisplay { background-color: var(--LightNavyBlue); }
.ActivityPGCR { position: relative; }
.activityIconBG {
  height: 50px;
  width: 50px;
  margin-top: 7px;
  margin-left: 7px;
}
.toggleRawInfoBtn {
  font-size: 13px;
  margin: 5px;
  position: absolute;
  top: 40px;
  right: 0px;
}
.copyToClipboardBtn {
  font-size: 13px;
  margin: 5px;
  position: absolute;
  top: 0px;
  right: 0px;
}
.loadingDiv {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pgcrImage {
  float: right;
  width: 50%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.pgcrBigImage {
  float: right;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.pgcrPlayers {
  float: left;
  width: 50%;
  height: 100%;
}
.pgcrContainer {
  height: 100%;
}
.pgcrTopContainer {
  border-bottom: 1px var(--NavyBlue) solid;
}
.pgcrPlayersTitle {
  display: grid;
  background-color: #3e5f9a;
  grid-template-columns: minmax(130px, 100%) 50px 50px 50px;
  text-align: center;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
}
.pgcrPlayersBlob {
  display: grid;
  background-color: var(--NavyBlue);
  grid-template-columns: minmax(130px, 100%) 50px 50px 50px;
  font-size: 14px;
}
.pgcrCurrPlayersBlob {
  display: grid;
  background-color: var(--NavyBlue);
  grid-template-columns: minmax(130px, 100%) 50px 50px 50px 50px 50px;
  font-size: 14px;
  color: burlywood;
}
.pgcrPvpPlayersBlob {
  display: grid;
  background-color: var(--NavyBlue);
  grid-template-columns: minmax(130px, 100%) 50px 50px 50px 50px 50px;
  font-size: 14px;
}
.pgcrPlayerName {
  cursor: pointer;
}
.hidden { display: none; }
.completed {
  -webkit-box-shadow: inset 2px 0px 0px 0px #259A58;
  -moz-box-shadow: inset 2px 0px 0px 0px #259A58;
  box-shadow: inset 2px 0px 0px 0px #259A58;
}
.failed {
  -webkit-box-shadow: inset 2px 0px 0px 0px #E7373F;
  -moz-box-shadow: inset 2px 0px 0px 0px #E7373F;
  box-shadow: inset 2px 0px 0px 0px #E7373F;
}
.neutral {
  -webkit-box-shadow: inset 2px 0px 0px 0px gray;
  -moz-box-shadow: inset 2px 0px 0px 0px gray;
  box-shadow: inset 2px 0px 0px 0px gray;
}
.pgcrAlphaTeamTitle {
  background-color: #0d75b5;
  text-align: center;
  font-size: small;
  height: 24px;
  line-height: 24px;
  grid-template-columns: minmax(130px, 100%) 50px 50px 50px 50px 50px;
  display: grid;
}
.pgcrAlphaTeamTitle > div { cursor: default; }
.pgcrBravoTeamTitle {
  background-color: #8c3828;
  text-align: center;
  font-size: small;
  height: 24px;
  line-height: 24px;
  grid-template-columns: minmax(130px, 100%) 50px 50px 50px 50px 50px;
  display: grid;
}
.pgcrBravoTeamTitle > div { cursor: default; }
.pgcrPlayersBlob div { display: inline-block; padding: 2px; text-align: center; border-right: 1px var(--LightNavyBlue) double; }
.pgcrCurrPlayersBlob div { display: inline-block; padding: 2px; text-align: center; border-right: 1px var(--LightNavyBlue) double; }
.pgcrPvpPlayersBlob div { display: inline-block; padding: 2px; text-align: center; border-right: 1px var(--LightNavyBlue) double; }
.pgcrExtendedInfo.pvp {
  width: 100%;
  display: grid;
  background-color: var(--LightNavyBlue);
  border-bottom: 1px solid var(--DarkNavyBlue);
  border-right: 1px solid var(--NavyBlue);
  grid-template-columns: 20% 40% 40%;
  padding: 5px;
  font-size: 14px;
  min-height: 127px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pgcrExtendedInfo.other {
  width: 100%;
  display: grid;
  background-color: var(--LightNavyBlue);
  border-bottom: 1px solid var(--DarkNavyBlue);
  border-right: 1px solid var(--NavyBlue);
  grid-template-columns: 50% 50%;
  padding: 5px;
  font-size: 14px;
  min-height: 127px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pgcrExtendedInfoWeaponKills > div {
  display: inline-block;
  background-color: var(--NavyBlue);
  border-radius: 10px;
  padding: 6px;
  margin: 3px;
}
.pgcrExtendedInfoStats { z-index: 2; }
.pgcrExtendedInfoStats > span { display: block; }
.pgcrExtendedInfoWeaponKills { z-index: 2; }
.pgcrExtendedInfoMedalsEarned { z-index: 2; }
.pgcrExtendedInfoBG {
  position: absolute;
  overflow: hidden;
  height: 135px;
  width: 100%;
  z-index: 1;
}
.pgcrExtendedInfoBGImage {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  filter: blur(20px);
  opacity: 0.6;
}
.pgcrMedalIcon {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: var(--NavyBlue);
  border-radius: 10px;
  padding: 5px;
  margin: 2px;
}
.pgcrItemIcon {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  margin-right: 10px;
}
.pgcrNoMedals {
  display: inline-block;
  padding: 5px;
  margin: 2px;
}
.pgcrEmblemIcon {
  height: 25px;
  width: 25px;
}
.pgcrExtendedPlayerName {
  cursor: pointer;
  font-size: 19px;
  text-align: center;
  width: 195px;
  line-height: 33px;
}
.pgcrDetails {
  float: left;
  width: 50%;
  height: 100%;
}
.pgcrDetailsTitle {
  background-color: #0d75b5;
  text-align: center;
  font-size: 14px;
  height: 26px;
  line-height: 26px;
  display: grid;
}
.pgcrDetailsMedal {
  font-size: 12px;
  background-color: var(--NavyBlue);
  padding: 5px;
  border-radius: 10px;
  width: 150px;
  text-align: center;
  margin: 10px auto;
}
.pgcrInnerDetailsContainer {
  display: grid;
  grid-template-columns: auto 170px;
}
.pgcrItemContainer {
  position: relative;
}
.pgcrItemContainer .pgcrItemInfo { display: none; }
.pgcrItemContainer:hover .pgcrItemInfo, .pgcrItemInfo.selected {
  background: var(--LightNavyBlue) no-repeat 100% 5%;
  border: var(--NavyBlue) 1px solid;
  position: absolute;
  display: block;
  bottom: 50px;
  right: -125px;
  width: 250px;
  z-index: 5;
}
.pgcrItemInfo > .title {
  border-bottom: 1px solid var(--NavyBlue);
  font-size: 14px;
  line-height: 25px;
  padding: 5px;
  font-weight: bold;
  font-family: sans-serif;
}
.pgcrItemInfo > .description {
  padding: 5px;
  font-size: 12px;
  color: #ccc;
}
.pgcrModifiers {
  display: flex;
}
.pgcrModifier {
  width: 35px;
  height: 35px;
  margin: 5px;
  background-position: center;
  background-size: cover;
  position: relative;
}
.pgcrModifier .pgcrModifierContainer { display: none; position: relative; }
.pgcrModifier:hover .pgcrModifierContainer, .pgcrModifierContainer.selected {
  background: var(--LightNavyBlue) no-repeat 100% 5%;
  border: var(--NavyBlue) 1px solid;
  position: absolute;
  display: block;
  top: 40px;
  left: 25px;
  width: 250px;
  z-index: 5;
}
.pgcrModifierContainer > .pgcrModifierName {
  border-bottom: 1px solid var(--NavyBlue);
  font-size: 14px;
  line-height: 25px;
  padding: 5px;
  font-weight: bold;
  font-family: sans-serif;
}
.pgcrModifierContainer > .pgcrModifierDesc {
  padding: 5px;
  font-size: 12px;
  color: #ccc;
}
.medalContainer {
  display: inline-block;
  position: relative;
}
.medalContainer .medalInfoContainer { display: none; position: relative; }
.medalContainer:hover .medalInfoContainer, .medalInfoContainer.selected {
  background: var(--LightNavyBlue) no-repeat 100% 5%;
  border: var(--NavyBlue) 1px solid;
  position: absolute;
  display: block;
  bottom: 50px;
  right: -125px;
  width: 250px;
  z-index: 5;
}
.medalInfoContainer > .medalInfoName {
  border-bottom: 1px solid var(--NavyBlue);
  font-size: 14px;
  line-height: 25px;
  padding: 5px;
  font-weight: bold;
  font-family: sans-serif;
}
.medalInfoContainer > .medalInfoDesc {
  padding: 5px;
  font-size: 12px;
  color: #ccc;
}
