.ActivitiesContent {
  height: 100%;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: minmax(300px, 500px) minmax(500px, 100%);
  color: gainsboro;
  padding-top: 60px;
}
.ActivitiesMenu {
  grid-column: 1;
  width: 100%;
  height: 100%;
  background: var(--LightNavyBlue);
  text-align: center;
  position: relative;
}
.ActivitiesMenu > #div {
  display: block;
  background-color: var(--LightNavyBlue);
}
.RecentActivitiesView {
  grid-column: 1;
  overflow-x: hidden;
  height: 100%;
  font-size: 14px;
  border-right: 1px var(--DarkNavyBlue) solid;
  background-color: var(--DarkNavyBlue);
}
.leftActivityContainer {
  width: 100%;
  border: 1px var(--DarkNavyBlue) solid;
  border-top: 0px;
  background-color: var(--NavyBlue);
  height: 45px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 45px auto 100px 45px 85px;
}
.leftActivityContainer > img {
  height: 35px;
  width: 35px;
  margin: 5px;
}
.lastActivity:hover, .previousActivity:hover {
  background-color: var(--LightNavyBlue);
  cursor:pointer;
}
.leftActivityContainer > .activityTitle { height: 45px; }
.leftActivityContainer > .activityTitle > span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
  padding-top: 2px;
}
.leftActivityContainer > .activityTitle > p {
  color: darkgray;
  font-size: 12px;
}
.activityKillsDeaths > div {
  padding-top: 1px;
  font-size: 12px;
  margin: 2px;
}
.activityKillsDeaths > div > span {
  color: darkgray;
}
.activityKdRatios > div {
  padding-top: 1px;
  font-size: 12px;
  margin: 2px;
}
.activityKdRatios > div > span {
  color: darkgray;
}
.activeDisplay { background-color: var(--LightNavyBlue); }
.ActivityPGCR {
  position: relative;
  background-color: var(--DarkNavyBlue);
}
.activityTimePlayed {
  padding-top: 2px;
  line-height: 20px;
  font-size: 12px;
}
.activityTimePlayed > div > img {
  display: inline-block;
  margin-top: -1px;
  margin-right: 3px;
  width: 15px;
  height: 15px;
  filter: invert(1);
}
.activityTimePlayed > div > span {
  display: inline-block;
  font-size: 12px;
}
.activityIconBG {
  height: 50px;
  width: 50px;
  margin-top: 7px;
  margin-left: 7px;
}
.toggleRawInfoBtn {
  font-size: 13px;
  margin: 5px;
  position: absolute;
  top: 40px;
  right: 0px;
}
.copyToClipboardBtn {
  font-size: 13px;
  margin: 5px;
  position: absolute;
  top: 0px;
  right: 0px;
}
.loadingDiv {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pgcrImage {
  float: right;
  width: 50%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.pgcrBigImage {
  float: right;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.pgcrPlayers {
  float: left;
  width: 50%;
  height: 100%;
}
.pgcrContainer {
  height: 100%;
}
.pgcrTopContainer {
  border-bottom: 1px var(--NavyBlue) solid;
}
.pgcrPlayersTitle {
  display: grid;
  background-color: #3e5f9a;
  grid-template-columns: minmax(130px, 100%) 50px 50px 50px;
  text-align: center;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
}
.pgcrPlayersBlob {
  display: grid;
  background-color: var(--NavyBlue);
  grid-template-columns: minmax(130px, 100%) 50px 50px 50px;
  font-size: 14px;
}
.pgcrCurrPlayersBlob {
  display: grid;
  background-color: var(--NavyBlue);
  grid-template-columns: minmax(130px, 100%) 50px 50px 50px 50px 50px;
  font-size: 14px;
  color: burlywood;
}
.pgcrPvpPlayersBlob {
  display: grid;
  background-color: var(--NavyBlue);
  grid-template-columns: minmax(130px, 100%) 50px 50px 50px 50px 50px;
  font-size: 14px;
}
.pgcrGambitCurrPlayersBlob {
  display: grid;
  background-color: var(--NavyBlue);
  grid-template-columns: minmax(130px, 100%) 50px 50px 50px 50px 50px 50px 100px;
  font-size: 14px;
  color: burlywood;
}
.pgcrGambitPlayersBlob {
  display: grid;
  background-color: var(--NavyBlue);
  grid-template-columns: minmax(130px, 100%) 50px 50px 50px 50px 50px 50px 100px;
  font-size: 14px;
}
.pgcrPlayerName {
  cursor: pointer;
}
.pgcrPlayerName > .status-tags { top: -1px; height: 13px; }
.hidden { display: none; }
.completed {
  -webkit-box-shadow: inset 2px 0px 0px 0px #259A58;
  -moz-box-shadow: inset 2px 0px 0px 0px #259A58;
  box-shadow: inset 2px 0px 0px 0px #259A58;
}
.failed {
  -webkit-box-shadow: inset 2px 0px 0px 0px #E7373F;
  -moz-box-shadow: inset 2px 0px 0px 0px #E7373F;
  box-shadow: inset 2px 0px 0px 0px #E7373F;
}
.neutral {
  -webkit-box-shadow: inset 2px 0px 0px 0px gray;
  -moz-box-shadow: inset 2px 0px 0px 0px gray;
  box-shadow: inset 2px 0px 0px 0px gray;
}
.pgcrAlphaTeamTitle {
  background-color: #0d75b5;
  text-align: center;
  font-size: small;
  height: 24px;
  line-height: 24px;
  grid-template-columns: minmax(130px, 100%) 50px 50px 50px 50px 50px;
  display: grid;
}
.pgcrAlphaTeamTitle > div { cursor: default; }
.pgcrBravoTeamTitle {
  background-color: #8c3828;
  text-align: center;
  font-size: small;
  height: 24px;
  line-height: 24px;
  grid-template-columns: minmax(130px, 100%) 50px 50px 50px 50px 50px;
  display: grid;
}
.pgcrBravoTeamTitle > div { cursor: default; }
.pgcrGambitAlphaTeamTitle {
  background-color: #0d75b5;
  text-align: center;
  font-size: small;
  height: 24px;
  line-height: 24px;
  grid-template-columns: minmax(130px, 100%) 50px 50px 50px 50px 50px 50px 100px;
  display: grid;
  white-space: nowrap;
}
.pgcrGambitAlphaTeamTitle > div { cursor: default; }
.pgcrGambitBravoTeamTitle {
  background-color: #8c3828;
  text-align: center;
  font-size: small;
  height: 24px;
  line-height: 24px;
  grid-template-columns: minmax(130px, 100%) 50px 50px 50px 50px 50px 50px 100px;
  display: grid;
  white-space: nowrap;
}
.pgcrGambitBravoTeamTitle > div { cursor: default; }
.pgcrPlayersBlob div { display: inline-block; padding: 2px; text-align: center; border-right: 1px var(--LightNavyBlue) double; position: relative; }
.pgcrCurrPlayersBlob div { display: inline-block; padding: 2px; text-align: center; border-right: 1px var(--LightNavyBlue) double; position: relative; }
.pgcrPvpPlayersBlob div { display: inline-block; padding: 2px; text-align: center; border-right: 1px var(--LightNavyBlue) double; position: relative; }
.pgcrGambitCurrPlayersBlob div { display: inline-block; padding: 2px; text-align: center; border-right: 1px var(--LightNavyBlue) double; position: relative; }
.pgcrGambitPlayersBlob div { display: inline-block; padding: 2px; text-align: center; border-right: 1px var(--LightNavyBlue) double; position: relative; }
.pgcrExtendedInfo.pvp {
  width: 100%;
  display: grid;
  background-color: var(--LightNavyBlue);
  border-bottom: 1px solid var(--DarkNavyBlue);
  border-right: 1px solid var(--NavyBlue);
  grid-template-columns: 250px minmax(auto, 600px) minmax(auto, 400px);
  padding: 5px;
  font-size: 14px;
  min-height: 127px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pgcrExtendedInfo.other {
  width: 100%;
  display: grid;
  background-color: var(--LightNavyBlue);
  border-bottom: 1px solid var(--DarkNavyBlue);
  border-right: 1px solid var(--NavyBlue);
  grid-template-columns: 250px auto;
  padding: 5px;
  font-size: 14px;
  min-height: 127px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pgcrExtendedInfoStats > .innerDiv {
  height: 35px;
  width: 195px;
  margin: 3px;
  background-position: 0;
  background-size: auto 40px;
  background-repeat: no-repeat;
  background-color: #000;
  position: relative;
}
.pgcrExtendedInfoWeaponKills > div {
  display: inline-block;
  background-color: var(--NavyBlue);
  border-radius: 10px;
  padding: 6px;
  margin: 3px;
}
.pgcrExtendedInfoStats { z-index: 2; }
.pgcrExtendedInfoStats > span { display: block; }
.pgcrExtendedInfoWeaponKills { z-index: 2; }
.pgcrExtendedInfoMedalsEarned { z-index: 2; }
.pgcrExtendedInfoBG {
  position: absolute;
  overflow: hidden;
  height: 135px;
  width: 100%;
  z-index: 1;
}
.pgcrExtendedInfoBGImage {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  filter: blur(20px);
  opacity: 0.6;
}
.pgcrMedalIcon {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: var(--NavyBlue);
  border-radius: 10px;
  padding: 5px;
  margin: 2px;
}
.pgcrItemIcon {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  margin-right: 10px;
}
.pgcrNoMedals {
  display: inline-block;
  padding: 5px;
  margin: 2px;
}
.pgcrEmblemIcon {
  height: 25px;
  width: 25px;
}
.pgcrExtendedPlayerName {
  cursor: pointer;
  font-size: 19px;
  text-align: center;
  width: 195px;
  line-height: 33px;
  white-space: nowrap;
}
.pgcrDetails {
  float: left;
  width: 50%;
  height: 100%;
}
.pgcrDetailsTitle {
  background-color: #0d75b5;
  text-align: center;
  font-size: 14px;
  height: 26px;
  line-height: 26px;
  display: grid;
}
.pgcrDetailsMedal {
  font-size: 12px;
  background-color: var(--NavyBlue);
  padding: 5px;
  border-radius: 10px;
  width: 150px;
  text-align: center;
  margin: 10px auto;
}
.pgcrInnerDetailsContainer {
  display: grid;
  grid-template-columns: auto 170px;
}
.pgcrItemContainer {
  position: relative;
}
.pgcrItemContainer .pgcrItemInfo { display: none; }
.pgcrItemContainer:hover .pgcrItemInfo, .pgcrItemInfo.selected {
  background: var(--LightNavyBlue) no-repeat 100% 5%;
  border: var(--NavyBlue) 1px solid;
  position: absolute;
  display: block;
  bottom: 50px;
  right: -125px;
  width: 250px;
  z-index: 5;
}
.pgcrItemInfo > #title {
  border-bottom: 1px solid var(--NavyBlue);
  font-size: 14px;
  line-height: 25px;
  padding: 5px;
  font-weight: bold;
  font-family: sans-serif;
}
.pgcrItemInfo > #description {
  padding: 5px;
  font-size: 12px;
  color: #ccc;
  border-bottom: 1px solid var(--NavyBlue);
}
.pgcrItemInfo > #extraInfo {
  padding: 5px;
  font-size: 12px;
  color: #ccc;
}
.pgcrModifiers {
  display: flex;
}
.pgcrModifier {
  width: 35px;
  height: 35px;
  margin: 5px;
  background-position: center;
  background-size: cover;
  position: relative;
}
.pgcrModifier .pgcrModifierContainer { display: none; position: relative; }
.pgcrModifier:hover .pgcrModifierContainer, .pgcrModifierContainer.selected {
  background: var(--LightNavyBlue) no-repeat 100% 5%;
  border: var(--NavyBlue) 1px solid;
  position: absolute;
  display: block;
  top: 40px;
  left: 25px;
  width: 250px;
  z-index: 5;
}
.pgcrModifierContainer > .pgcrModifierName {
  border-bottom: 1px solid var(--NavyBlue);
  font-size: 14px;
  line-height: 25px;
  padding: 5px;
  font-weight: bold;
  font-family: sans-serif;
}
.pgcrModifierContainer > .pgcrModifierDesc {
  padding: 5px;
  font-size: 12px;
  color: #ccc;
}
.medalContainer {
  display: inline-block;
  position: relative;
}
.medalContainer .medalInfoContainer { display: none; position: relative; }
.medalContainer:hover .medalInfoContainer, .medalInfoContainer.selected {
  background: var(--LightNavyBlue) no-repeat 100% 5%;
  border: var(--NavyBlue) 1px solid;
  position: absolute;
  display: block;
  bottom: 50px;
  right: -125px;
  width: 250px;
  z-index: 5;
}
.medalInfoContainer > .medalInfoName {
  border-bottom: 1px solid var(--NavyBlue);
  font-size: 14px;
  line-height: 25px;
  padding: 5px;
  font-weight: bold;
  font-family: sans-serif;
}
.medalInfoContainer > .medalInfoDesc {
  padding: 5px;
  font-size: 12px;
  color: #ccc;
}
.activityFilter {
  height: 40px;
  line-height: 30px;
  padding: 5px;
  background-color: var(--LighterNavyBlue);
  border: 1px solid var(--DarkNavyBlue);
  border-top: 0px;
}
.activityFilter > #filterMode {
  margin-left: 5px;
  padding: 2px;
  font-size: 14px;
}
.activityFilter > #filterSpecificMode {
  margin-left: 5px;
  padding: 2px;
  font-size: 14px;
}

/* Activity Card Start */
.activity-card-container {
  display: grid;
  display: relative;
  background-color: var(--DarkNavyBlue);
  border-bottom: 1px var(--LightNavyBlue) solid;
  box-sizing: border-box;
  grid-template-columns: 420px auto;
  text-align: center;
  height: 179px;
  width: 100%;
}
.activity-card-container > div > .pgcrExtendedInfoBG {
  position: absolute;
  overflow: hidden;
  height: 180px;
  width: 100%;
  z-index: 1;
}
.activity-card-container > div > .pgcrExtendedInfoStats {
  z-index: 2;
  text-align: left;
}
.activity-card-container > div > .pgcrExtendedInfoBG > .pgcrExtendedInfoBGImage {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(20px);
  opacity: 0.6;
}
.activity-card-data { width: 420px; }
.activity-card-banner-info {
  border-bottom: 1px var(--LightNavyBlue) solid;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: grid;
  height: 85px;
  width: 100%;
}
.activity-card-banner-info > #display-name {
  position: absolute;
  left: 90px;
  top: 15px;
}
.activity-card-banner-info > #display-name > h4 { display: inline-block; }
.status-tags { display: inline-grid; width: max-content; position: absolute; top: 6px; }
.status-tags > :nth-of-type(1) { margin-bottom: 5px; }
.status-tags > :nth-of-type(2) { margin-bottom: 5px; }
.status-tags > #patreon {
  display: inline-block;
  border: 1px #73d8ff solid;
  padding: 0px 3px;
  font-size: 12px;
  line-height: 13px;
  border-radius: 3px;
  margin-left: 5px;
}
.status-tags > #patreon > a { color: #73d8ff; text-decoration: none; }
.status-tags > #donor {
  display: inline-block;
  color: #ffee73;
  border: 1px #ffee73 solid;
  padding: 0px 3px;
  font-size: 12px;
  line-height: 13px;
  border-radius: 3px;
  margin-left: 5px;
}
.status-tags > #donor > a { color: #ffee73; text-decoration: none; }
.status-tags > #developer {
  display: inline-block;
  color: #c973ff;
  border: 1px #c973ff solid;
  padding: 0px 3px;
  font-size: 12px;
  line-height: 13px;
  border-radius: 3px;
  margin-left: 5px;
}
.status-tags > #developer > a { color: #c973ff; text-decoration: none; }
.status-tags > #customDev {
  display: inline-block;
  color: white;
  border: 1px white solid;
  padding: 0px 3px;
  font-size: 12px;
  line-height: 13px;
  border-radius: 3px;
  margin-left: 5px;
}
.status-tags > #customDev > a { color: white; text-decoration: none; }
.activity-card-banner-info > #character-class {
  position: absolute;
  font-size: 14px;
  left: 93px;
  top: 40px;
}
.activity-card-banner-info > #season-rank {
  display: flex;
  position: absolute;
  font-size: 16px;
  top: 38px;
  right: 5px;
}
.activity-card-banner-info > #season-rank > #season-rank-icon {
  align-self: flex-start;
  font-size: 10px;
  margin-top: 1px;
  margin-right: 2px;
}
.activity-card-banner-info > #character-light-level {
  display: flex;
  position: absolute;
  top: 5px;
  right: 5px;
  color: #DDCB59;
}
.activity-card-banner-info > #character-light-level > #light-level-icon {
  align-self: flex-start;
  font-size: 18px;
  margin-top: 2px;
  color: #DDCB59;
}
.activity-card-info > .inspectBoxRanks {
  display: inline-block;
  text-align: left;
  float: left;
  width: 270px !important;
}
.activity-card-info > .inspectBoxRanks > div {
  position: relative;
}
.activity-card-info > .inspectBoxRanks > div > .progressArc {
  height: 85px;
  width: 85px;
  margin: 0px;
}
.activity-card-info > .inspectBoxRanks > div > .inspectBoxRanksImage {
  width: 85px;
  top: 22px;
  left: 5px;
}
.activity-card-info > .inspectBoxRanks > div > .inspectBoxRanksScore {
  text-align: center;
  position: absolute;
  bottom: 14px;
  left: 4px;
  width: 85px;
}
.activity-card-info > .activity-card-sub-info {
  display: inline-block;
  height: 85px;
  width: 150px;
}
.activity-card-sub-info {
  width: 100%;
  font-size: 14px;
  margin-top: 10px;
  text-align: left;
}
.activity-card-sub-info > #full-view-btn {
  padding: 5px 10px;
  background: rgba(255,255,255,0.05);
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 5px auto;
  font-size: 14px;
  line-height: 20px;
  display: block;
  color: unset;
  text-decoration: none;
}
.activity-card-sub-info > #full-view-btn:hover {
  cursor: pointer;
  background: rgba(255,255,255,0.1);
}
#close-view-btn {
  padding: 5px 10px;
  background: rgba(255,255,255,0.05);
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 5px auto;
  font-size: 14px;
  line-height: 20px;
  display: block;
  color: unset;
  text-decoration: none;
}
#close-view-btn:hover {
  cursor: pointer;
  background: rgba(255,255,255,0.1);
}
.activity-card-info-title {
  text-align: left;
  font-size: 16px;
}
.activity-card-info-content {
  text-align: left;
  font-size: 14px;
}
/* Activity Card End */
