.home-container {
  width: 100%;
  height: 100%;
  background-image: url("/images/nbg.jpg");
  background-size: cover;
}
.home-content {
  background-color: var(--NavyBlue);
  opacity: 0.7;
  padding: 40px;
  display: inline-block;
  vertical-align: top;
  min-height: 175px;
  width: 100%;
  height: 100%;
  text-align: center;
}
.home-title {
  font-size: 36px;
}
.home-text {
  width: 500px;
  padding-bottom: 15px;
  margin: auto;
}
.search-container {
  min-width: 100px;
  max-width: 500px;
  padding-top: 50px;
  margin: auto;
}
.search-input {
  position: relative;
  display: flex;
}
#membership-type {
  display: inline-block;
  width: 100px;
  height: 38px;
  background-color: var(--LightNavyBlue);
  border-color: darkgray;
  color: white;
  border-radius: 10px 0px 0px 10px;
}
#membership-type:focus {
  outline: none;
  box-shadow: 0px 0px 2px white;
}
#username {
  margin-left: -1px;
  display: inline-block;
  background-color: var(--NavyBlue);
  border-color: darkgray;
  color: white;
  border-radius: 0px 10px 10px 0px;
}
#username:focus {
  outline: none;
  box-shadow: 0px 0px 2px white;
}
.search-container {
  -webkit-transition: height 2s;
  transition: height 2s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.search-output {
  margin-top: 5px;
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1.5s;
  margin-top: 50px;
  margin-bottom: 50px;
}
.searchResultContainer {
  -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none;
  -moz-user-select: none; -ms-user-select: none; user-select: none;
  display: inline-block;
  background-color: var(--LightNavyBlue);
  border-radius: 10px;
  font-size: 14px;
  margin: 3px;
  padding: 2px;
  cursor: pointer;
}
.searchResultIcon.BNET {
  background-color: slateblue;
  display: inline-block;
  padding: 3px;
  border-radius: 10px 0px 0px 10px;
  height: 27px;
  background-image: url("/images/icons/platforms/bnet.png");
  background-position: center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  width: 25px;
}
.searchResultIcon.BNET:before { display: inline-block; content: ""; }
.searchResultIcon.PSN {
  background-color: steelblue;
  display: inline-block;
  padding: 3px;
  border-radius: 10px 0px 0px 10px;
  height: 27px;
  background-image: url("/images/icons/platforms/psn.png");
  background-position: center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  width: 25px;
}
.searchResultIcon.PSN:before { display: inline-block; content: ""; }
.searchResultIcon.XBL {
  background-color: seagreen;
  display: inline-block;
  padding: 3px;
  border-radius: 10px 0px 0px 10px;
  height: 27px;
  background-image: url("/images/icons/platforms/xbl.png");
  background-position: center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  width: 25px;
}
.searchResultIcon.XBL:before { display: inline-block; content: ""; }
.searchResultIcon.STADIA {
  background-color: tomato;
  display: inline-block;
  padding: 3px;
  border-radius: 10px 0px 0px 10px;
  height: 27px;
  background-image: url("/images/icons/platforms/stadia.png");
  background-position: center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  width: 25px;
}
.searchResultIcon.STADIA:before { display: inline-block; content: ""; }
.searchResultIcon.STEAM {
  background-color: tomato;
  display: inline-block;
  padding: 3px;
  border-radius: 10px 0px 0px 10px;
  height: 27px;
  background-image: url("/images/icons/platforms/steam.png");
  background-position: center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  width: 25px;
}
.searchResultIcon.STEAM:before { display: inline-block; content: ""; }
.searchResultName.BNET { background-color: darkslateblue; display: inline-block; padding: 3px; border-radius: 0px 10px 10px 0px; } .searchResultName.BNET:hover { background-color: #5548a2; }
.searchResultName.PSN { background-color: #325d82; display: inline-block; padding: 3px; border-radius: 0px 10px 10px 0px; } .searchResultName.PSN:hover { background-color: #386890; }
.searchResultName.XBL { background-color: #20613c; display: inline-block; padding: 3px; border-radius: 0px 10px 10px 0px; } .searchResultName.XBL:hover { background-color: #256f46; }
.searchResultName.STADIA { background-color: tomato; display: inline-block; padding: 3px; border-radius: 0px 10px 10px 0px; }
.searchResultName.STEAM { background-color: tomato; display: inline-block; padding: 3px; border-radius: 0px 10px 10px 0px; }
.footer {
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: var(--NavyBlue);
}
.imgCredit {
  position: fixed;
  bottom: 0px;
  font-size: 10px;
  margin: auto;
  width: 100%;
  text-align: center;
  color: #ccc;
}
.suggested-search-title {
  font-size: 12px;
  color: #ccc;
  padding-top: 5px;
}
.suggested-search-output {
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1.5s;
  margin-top: 50px;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
