.home-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  background-size: cover;
  background-position: top center;
}
.home-content {
  background-color: rgba(33, 36, 42, .7);
  padding: 40px;
  display: inline-block;
  vertical-align: top;
  min-height: 175px;
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
}
.home-title {
  font-size: -webkit-xxx-large;
}
.home-text {
  width: 500px;
  padding-bottom: 15px;
  margin: auto;
}
.search-container {
  min-width: 100px;
  max-width: 500px;
  padding-top: 50px;
  margin: auto;
}
.search-input {
  position: relative;
  display: flex;
}
#membership-type {
  display: inline-block;
  width: 100px;
  height: 38px;
  background-color: var(--LightNavyBlue);
  border-color: darkgray;
  color: white;
  border-radius: 10px 0px 0px 10px;
}
#membership-type:focus {
  outline: none;
  box-shadow: 0px 0px 2px white;
}
#username {
  margin-left: -1px;
  display: inline-block;
  background-color: var(--NavyBlue);
  border-color: darkgray;
  color: white;
  border-radius: 0px 10px 10px 0px;
}
#username:focus {
  outline: none;
  box-shadow: 0px 0px 2px white;
}
.search-container {
  -webkit-transition: height 2s;
  transition: height 2s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.search-output {
  margin-top: 5px;
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1.5s;
  margin-top: 50px;
  margin-bottom: 50px;
}
.searchResultContainer {
  -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none;
  -moz-user-select: none; -ms-user-select: none; user-select: none;
  display: inline-block;
  background-color: var(--LightNavyBlue);
  border-radius: 10px;
  font-size: 14px;
  margin: 3px;
  padding: 2px;
  cursor: pointer;
}
.searchResultIcon.BNET {
  background-color: slateblue;
  display: inline-block;
  padding: 3px;
  border-radius: 10px 0px 0px 10px;
  height: 27px;
  background-image: url("/images/icons/platforms/bnet.png");
  background-position: center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  width: 25px;
}
.searchResultIcon.BNET:before { display: inline-block; content: ""; }
.searchResultIcon.PSN {
  background-color: steelblue;
  display: inline-block;
  padding: 3px;
  border-radius: 10px 0px 0px 10px;
  height: 27px;
  background-image: url("/images/icons/platforms/psn.png");
  background-position: center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  width: 25px;
}
.searchResultIcon.PSN:before { display: inline-block; content: ""; }
.searchResultIcon.XBL {
  background-color: seagreen;
  display: inline-block;
  padding: 3px;
  border-radius: 10px 0px 0px 10px;
  height: 27px;
  background-image: url("/images/icons/platforms/xbl.png");
  background-position: center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  width: 25px;
}
.searchResultIcon.XBL:before { display: inline-block; content: ""; }
.searchResultIcon.STADIA {
  background-color: tomato;
  display: inline-block;
  padding: 3px;
  border-radius: 10px 0px 0px 10px;
  height: 27px;
  background-image: url("/images/icons/platforms/stadia.png");
  background-position: center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  width: 25px;
}
.searchResultIcon.STADIA:before { display: inline-block; content: ""; }
.searchResultIcon.STEAM {
  background-color: tomato;
  display: inline-block;
  padding: 3px;
  border-radius: 10px 0px 0px 10px;
  height: 27px;
  background-image: url("/images/icons/platforms/steam.png");
  background-position: center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  width: 25px;
}
.searchResultIcon.STEAM:before { display: inline-block; content: ""; }
.searchResultName.BNET { background-color: darkslateblue; display: inline-block; padding: 3px; border-radius: 0px 10px 10px 0px; } .searchResultName.BNET:hover { background-color: #5548a2; }
.searchResultName.PSN { background-color: #325d82; display: inline-block; padding: 3px; border-radius: 0px 10px 10px 0px; } .searchResultName.PSN:hover { background-color: #386890; }
.searchResultName.XBL { background-color: #20613c; display: inline-block; padding: 3px; border-radius: 0px 10px 10px 0px; } .searchResultName.XBL:hover { background-color: #256f46; }
.searchResultName.STADIA { background-color: tomato; display: inline-block; padding: 3px; border-radius: 0px 10px 10px 0px; }
.searchResultName.STEAM { background-color: tomato; display: inline-block; padding: 3px; border-radius: 0px 10px 10px 0px; }
.footer {
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: var(--NavyBlue);
}
.imgCredit {
  position: fixed;
  bottom: 0px;
  font-size: 10px;
  margin: auto;
  width: 100%;
  text-align: center;
  color: #ccc;
}
.suggested-search-title {
  font-size: 12px;
  color: #ccc;
  padding-top: 5px;
}
.suggested-search-output {
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1.5s;
  margin-top: 50px;
}
.dev-content {
  background-color: rgba(33, 36, 42, .7);
}
.bungie-content {
  background-color: rgba(33, 36, 42, .7);
  padding-right: 5px;
  height: 100%;
}
.bungie-content > h4 {
  text-align: center;
  padding: 10px;
}
.bungie-article {
  width: 100%;
  padding: 10px;
  font-size: 12px;
  display: grid;
  grid-template-columns: 100px auto;
  text-align: center;
}
.article-image > a > img {
  width: 100px;
}
.article-name-date > a {
  color: white;
  text-decoration: none;
}
.article-date {
  color: #ccc;
}
.dev-content { }
.changelog-content {
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  height: 95%;
  background-color: rgba(33, 36, 42, .98);
}
.changelogs {
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 1000px;
  margin: auto;
}
.changelogs > .version {
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 450px;
}
.changelogs > .version > .entry {
  text-align: left;
  font-weight: normal;
  font-size: 12px;
  display: block;
}
.supporters-content {
  text-align: center;
  font-size: 12px;
  display: grid;
  align-content: start;
  margin-top: 15px;
  position: absolute;
  width: 250px;
}
.supporters-content > p {
  font-size: 12px;
  width: 80%;
  margin: auto;
  padding: 5px;
  margin-bottom: 10px;
}
.donators {
  display: flex;
  align-items: flex-start;
  margin: auto;
  margin-bottom: 5px;
}
.donators > h5 {
  display: flex;
  align-items: center;
  height: 30px;
  margin: auto;
}
.donate-links {
  margin: auto;
  position: fixed;
  bottom: 50px;
  right: 10px;
  display: grid;
  grid-template-rows: auto auto;
  justify-items: end;
}
.donate-links > a > .patreonBtn {
  width: 150px;
  border-radius: 5px;
}
.donateBtn {
  width: 100px;
  height: 35px;
  background-color: white;
  border-radius: 5px;
}
.donateBtn > .paypalBtn {
  width: 90px;
  padding: 5px;
}
.paypalDiv {
  margin-bottom: 5px;
}
.donar {
  font-size: 14px;
  display: grid;
  grid-template-columns: 100px 60px;
  height: 25px;
  width: 150px;
  margin: auto;
}
.donationTypes > .patreon, .donatorBox > .patreon {
  content: "";
  background-image: url("/images/patreon_icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 3px;
  border-radius: 10px;
  margin-top: -2px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.donationTypes > .paypal, .donatorBox > .paypal {
  content: "";
  background-image: url("/images/paypal_icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 3px;
  border-radius: 10px;
  margin-top: -2px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.donationTypes > .twitch, .donatorBox > .twitch {
  content: "";
  background-image: url("/images/twitch_icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 3px;
  border-radius: 10px;
  margin-top: -2px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.donatorBox {
  display: none;
}
.donationTypes > div:hover .donatorBox {
  display: block;
  width: 200px;
  position: absolute;
  right: -170px;
  background-color: var(--NavyBlue);
  border: 1px solid var(--LightNavyBlue);
  border-radius: 10px;
}
.donationTypes > div:hover .donatorBox.twitch {
  background-color: #6441A4;
}
.donationTypes > div:hover .donatorBox.paypal {
  background-color: #113983;
}
.donationTypes > div:hover .donatorBox.patreon {
  background-color: #F96853;
}
.donationTypeTitle { padding: 5px; font-size: 12px; }
.donationTypeTitle:first-letter { text-transform:capitalize; }
.changelogBtn {
  height: 35px;
  width: 150px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 15px;
}
.changelogBtn:hover {
  background-color: var(--LightNavyBlue) !important;
}
.reportBugs {
  height: 35px;
  width: 150px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  cursor: pointer;
  font-size: 15px;
  display: grid;
  grid-template-columns: 30px auto;
}
.reportBugs:before {
  content: "";
  background-image: url("/images/twitter_icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 3px;
  border-radius: 10px;
  height: 20px;
  width: 20px;
}
.isLive {
  height: 35px;
  width: 100px;
  position: absolute;
  bottom: 50px;
  left: 10px;
  cursor: pointer;
  font-size: 15px;
  display: grid;
  grid-template-columns: 25px auto;
}
.isLive:before {
  content: "";
  background-image: url("/images/live_icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 3px;
  border-radius: 10px;
  height: 20px;
  width: 20px;
  animation: fadeInOpacity 3s infinite;
}
.clickMeLiveBtn { display: none; }
.isLive:hover .clickMeLiveBtn {
  display: block;
  background-color: var(--NavyBlue);
  border: 1px solid var(--LightNavyBlue);
  position: absolute;
  bottom: 50px;
  width: 150px;
  font-size: 12px;
}
@media only screen and (max-width: 1500px) {
  .home-container { grid-template-columns: auto; }
  .bungie-content { display: none; }
}
@keyframes fadeInOpacity {
	0% {
		opacity: 1;
	}
  50% {
		opacity: 0.1;
	}
  100% {
		opacity: 1;
	}
}
