.inspectContainer {
  height: 100%;
  display: grid;
  grid-template-rows: 60px auto;
}
.inspectTitlebar {
  height: 60px;
  width: 100%;
  background-color: var(--InbetweenerNavyBlue);
}
.inspectContent {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 400px minmax(250px, 1fr) 300px;
}
.inspectBox {
  height: 100%;
  width: 100%;
  background-color: var(--DarkNavyBlue);
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  position: relative;
}
#InspectBoxRecentActivities {
  display: grid;
  grid-template-rows: 36px auto;
}
#InspectBoxCharacterViewer {
  display: grid;
  grid-template-rows: 36px auto;
}
.inspectBoxMenu {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  background-color: var(--NavyBlue);
  border-top: 1px solid var(--DarkNavyBlue);
}
.inspectBoxMenu > div {
  height: 34px;
  line-height: 34px;
  border-right: 1px solid var(--DarkNavyBlue);
}
.inspectBoxMenu > div:hover {
  background-color: var(--LightNavyBlue);
  cursor: pointer;
}
.inspectBoxMenu > div.active { background-color: var(--LightNavyBlue); }
.inspectBoxTitle {
  width: 100%;
  padding: 5px;
  background-color: var(--LightNavyBlue);
  border-bottom: 1px solid var(--DarkNavyBlue);
  border-right: 1px solid var(--DarkNavyBlue);
  border-top: 1px solid var(--DarkNavyBlue);
}
.inspectBoxRanks {
  float: left;
  font-size: 11px;
  height: 55px;
  line-height: 16px;
  color: #ccc;
  text-align: center;
}
.inspectBoxRanksTitle { display:block; font-weight:bold; }
.inspectBoxRanksScore { display:block; }
.inspectBoxRanksImage {
  width: 50px;
  height: 35px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.inspectBoxRanksValor { display: inline-block; }
.inspectBoxRanksGlory { display: inline-block; }
.inspectBoxRanksInfamy { display: inline-block; }
.inspectProfileName {
  float: left;
  font-size: 38px;
  margin-left: 5px;
  margin-right: 5px;
  height: 60px;
  line-height: 60px;
}
.inspectUserDetails {
  float: left;
  font-size: 11px;
  height: 40px;
  line-height: 15px;
  margin-top: 15px;
  color: #ccc;
}
.inspectLastPlayed { display: block; }
.inspectVersion {
  display: inline-block;
  height: 45px;
  width: 45px;
  float: left;
  margin-left: 5px;
  margin-top: 5px;
  background-size: contain;
  background-repeat: no-repeat;
}
.inspectDonated {
  background-image: url("/images/icons/destiny/ghost.png");
  display: inline-block;
  height: 30px;
  width: 30px;
  float: left;
  margin-right: 5px;
  background-size: contain;
  background-repeat: no-repeat;
}
.inspectTimePlayed { display: block; }
.inspectTitles {
  float: right;
  background: var(--InbetweenerNavyBlue);
  padding: 10px;
  padding-left: 20px
}
.inspectTitleObtained {
  float: left;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
.inspectTitleNotObtained {
  float: left;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
.inspectTitleObtained .titleInfo, .inspectTitleNotObtained .titleInfo { display: none; }
.inspectTitleObtained:hover .titleInfo, .inspectTitleNotObtained:hover .titleInfo, .titleInfo.selected {
  background: var(--LightNavyBlue) no-repeat 100% 5%;
  border: var(--NavyBlue) 1px solid;
  position: absolute;
  display: block;
  right: 20px;
  top: 35px;
  width: 250px;
  z-index: 5;
}
.titleName {
  text-align: center;
  padding: 3px;
  border-bottom: 1px solid var(--NavyBlue);
  color: darkorchid;
  font-weight: bold;
}
.titleDesc {
  padding: 5px;
  font-size: 14px;
  border-bottom: 1px solid var(--NavyBlue);
  color: #ccc;
}
.inspectNoTitlesObtained {
  display: inline-block;
  background-color: var(--NavyBlue);
  border-radius: 10px;
  padding: 6px;
  border: 1px solid var(--LightNavyBlue);
  margin-right: 15px;
}
.inspectBoxActivities {
  display: grid;
  grid-auto-rows: auto;
}
.inspectActivityContainer {
  width: 100%;
  border-bottom: 1px var(--LightNavyBlue) solid;
  padding: 5px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 17% 83%;
  font-size: 13px;
  background-color: var(--NavyBlue);
  justify-content: center;
  align-items: center;
}
.inspectActivityContainer:hover {
  cursor: default;
  background-color: var(--NavyBlue);
}
.inspectActivityTitle {
  margin: 0px;
}
.inspectBoxContainer {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
}
@media only screen and (max-width: 1600px) {
  .inspectBoxContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
  }
}
@media only screen and (min-width: 2100px) {
  .inspectBoxContainer {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
  }
}
.inspectBoxPVPIcon {
  float: left;
  width: 17%;
}
.inspectBoxContentTitle {
  width: 100%;
  padding: 5px;
  background-color: var(--LightNavyBlue);
  border-bottom: 1px solid var(--DarkNavyBlue);
  border-right: 1px solid var(--DarkNavyBlue);
  border-top: 1px solid var(--DarkNavyBlue);
}
.inspectBoxStatContent {
  background: var(--NavyBlue);
  border-right: 1px solid var(--DarkNavyBlue);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  width: 100%;
}
.inspectBoxStatContent.twoColumn {
  justify-content: center;
  align-items: start;
  height: 175px;
  padding: 8px;
}
.inspectBoxStatContent.twoColumn {
  justify-content: center;
  align-items: start;
  height: 175px;
  padding: 8px;
}
.inspectBoxContentStats {
  float: right;
  width: 83%;
  display: grid;
  grid-template-columns: 30% 35% 35%;
  font-size: 13px;
  height: 80px;
  align-items: center;
}
.inspectBoxContentStats.twoColumn {
  grid-template-columns: 50% 50%;
  align-items: start;
}
.inspectBoxContentIcon {
  padding-right: 10px;
}
.inspectBoxContentIcon.twoColumn {
  padding-right: 20px;
}
.inspectBoxContentStatsDiv {
  height: 75px;
  display: grid;
  align-items: center;
  text-align: left;
}
.inspectBoxContentStatsDiv.twoColumn {
  grid-template-rows: auto;
  height: 150px;
}
.inspectBoxCharacters {
  height: 100%;
  display: grid;
  grid-template-rows: 100px 420px;
}
.inspectBoxCharacterSelect {
  background-color: var(--NavyBlue);
  border-right: 1px solid var(--DarkNavyBlue);
  height:100px;
  display: grid;
}
.inspectBoxCharacterView {
  background-color: var(--NavyBlue);
  border-top: 1px solid var(--DarkNavyBlue);
  border-right: 1px solid var(--DarkNavyBlue);
  width: 100%;
}
.inspectBoxCharacterBanner {
  cursor: pointer;
  font-size: 13px;
  width: 100%;
  float: right;
  color: white;
  z-index: 2;
  margin: auto;
  display: none;
  grid-template-columns: 40px 1fr 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.inspectBoxCharacterBanner.active {
  display: grid;
}
.inspectBoxCharacterBanner > #backgroundDiv {
  background-position: center left;
  background-size: auto 65px;
  background-repeat: no-repeat;
  background-color: black;
  position: relative;
  margin: auto;
  height: 60px;
  width: 100%;
}
#backgroundDiv > #left_span {
  margin-left: 60px;
  line-height: 60px;
  font-size: 24px;
  position: absolute;
  cursor: pointer;
  left: 0px;
  color: white;
}
#backgroundDiv > #right_span {
  margin-right: 10px;
  line-height: 60px;
  font-size: 24px;
  position: absolute;
  cursor: pointer;
  right: 0px;
  color: white;
}
.inspectBoxCharacterBanner > .switchLeft {
  background-image: url("/images/icons/arrow.png");
  background-position: center left;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  margin: auto;
  height: 80px;
  width: 100%;
  cursor: pointer;
}
.inspectBoxCharacterBanner > .switchRight {
  background-image: url("/images/icons/arrow.png");
  background-position: center left;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  margin: auto;
  height: 80px;
  width: 100%;
  transform: rotate(180deg);
  cursor: pointer;
}
.inspectBoxContentMessage {
  background-color: var(--NavyBlue);
  border-right: 1px solid var(--DarkNavyBlue);
  font-size: 12px;
  margin-top: -10px;
  padding-bottom: 5px;
  color: #ccc;
}
.inspectBoxCharacterDetails {
  display: none;
}
.inspectBoxCharacterDetails.active {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 419px;
  background-position: bottom;
}
.inspectBoxCharacterDetailsItems {
  display: grid;
  grid-template-columns: 50% 50%;
  position: relative;
  height: 100%;
}
.inspectBoxCharacterDetailsItemsLeft {
  width: 80px;
  position: absolute;
  left: 0;
}
.inspectBoxCharacterDetailsItemsRight {
  width: 80px;
  position: absolute;
  right: 0;
}
.inspectBoxCharacterExtended {
  background-color: var(--NavyBlue);
  border-right: 1px solid var(--DarkNavyBlue);
}
.inspectBoxCharacterExtendedDetails {
  font-size: 14px;
  display: none;
}
.inspectBoxCharacterExtendedDetails.active {
  font-size: 14px;
  display: block;
}
