.inspectContainer {
  height: 100%;
}
.inspectTitlebar {
  height: 60px;
  width: 100%;
  background-color: var(--InbetweenerNavyBlue);
}
.inspectContent {
  width: 100%;
  height: calc(100% - 60px);
  display: grid;
  grid-template-columns: 500px minmax(250px, 1fr) 300px;
  overflow: hidden;
}
.inspectBox {
  height: 100%;
  width: 100%;
  background-color: var(--DarkNavyBlue);
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  border-top: 1px solid var(--DarkNavyBlue);
  border-left: 1px solid var(--DarkNavyBlue);
  position: relative;
}
.inspectBoxTitle {
  width: 100%;
  padding: 5px;
  background-color: var(--LightNavyBlue);
  border-bottom: 1px solid var(--DarkNavyBlue);
}
.inspectBoxPvPTitle {
  width: 500px;
  padding: 5px;
  background-color: var(--LightNavyBlue);
  border-bottom: 1px solid var(--DarkNavyBlue);
}
.inspectBoxRanks {
  float: left;
  font-size: 11px;
  height: 55px;
  line-height: 16px;
  color: #ccc;
  text-align: center;
}
.inspectBoxRanksTitle { display:block; font-weight:bold; }
.inspectBoxRanksScore { display:block; }
.inspectBoxRanksImage {
  width: 50px;
  height: 35px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.inspectBoxRanksValor { display: inline-block; }
.inspectBoxRanksGlory { display: inline-block; }
.inspectBoxRanksInfamy { display: inline-block; }
.inspectProfileName {
  float: left;
  font-size: 38px;
  margin-left: 10px;
  margin-right: 10px;
  height: 60px;
  line-height: 60px;
}
.inspectUserDetails {
  float: left;
  font-size: 11px;
  height: 40px;
  line-height: 15px;
  margin-top: 15px;
  color: #ccc;
}
.inspectLastPlayed { display: block; }
.inspectVersion {
  display: inline-block;
  height: 45px;
  width: 45px;
  float: left;
  margin-left: 10px;
  margin-top: 5px;
  background-size: contain;
  background-repeat: no-repeat;
}
.inspectTimePlayed { display: block; }
.inspectTitles {
  float: right;
  margin-top: 10px;
}
.inspectTitleObtained {
  float: left;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-size: contain;
}
.inspectTitleNotObtained {
  float: left;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.3;
}
.inspectActivityContainer {
  width: 100%;
  border-bottom: 1px var(--LightNavyBlue) solid;
  border-top: 0px;
  height: 49.5px;
  padding: 5px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 17% 83%;
  font-size: 13px;
  background-color: var(--NavyBlue);
}
.inspectActivityContainer:hover {
  cursor: default;
  background-color: var(--NavyBlue);
}
.inspectBoxPVPIcon {
  float: left;
  width: 17%;
}
.inspectBoxStatPVP {
  background: var(--NavyBlue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 500px;
}
.inspectBoxPVPStats {
  float: right;
  width: 83%;
  display: grid;
  grid-template-columns: 30% 35% 35%;
  font-size: 13px;
  height: 80px;
  align-items: center;
}
.inspectBoxPVPStatsDiv {
  height: 75px;
  display: grid;
  align-items: center;
  text-align: left;
}
.inspectBoxCharacterSelect {
  background-color: var(--NavyBlue);
  height:100px;
}
.inspectBoxCharacterView {
  background-color: var(--NavyBlue);
  border-top: 1px solid var(--DarkNavyBlue);
  position: absolute;
  width: 100%;
  height: 100%;
}
