.loginBox {
  width:500px;
  height:150px;
  background-color: var(--NavyBlue);
  margin: auto;
  transform: translateY(50%);
  border: 5px var(--LightNavyBlue) solid;
  color:white;
  display: table;
}
.loginBoxContent {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.loginBoxContent > button {
  padding-bottom: 10px;
  margin-top: -10px;
}
