/* Marvins Page Start */
h2::selection { background-color: rgba(0.2, 0.2, 0.2, 0.2); }
h3::selection { background-color: rgba(0.2, 0.2, 0.2, 0.2); }
.detailsContainer {
  display: grid;
  height: 100%;
  grid-template-columns: 50% 50%;
  background: rgba(0,0,0,0.3);
}
.howToConnect {
  margin: 20px;
  padding-top: 50px;
  display: grid;
  grid-template-rows: 450px 270px;
}
.features {
  margin: 20px;
  padding-top: 50px;
  display: grid;
  grid-template-rows: 450px 350px;
}
.connectContainer {
  justify-content: center;
  display: inherit;
}
.paraContainer {
  background-color: rgba(0.4, 0.4, 0.4, 0.4);
  border-radius: 10px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  display: inherit;
  height: max-content;
}
.para {
  width: 90%;
  margin: auto;
}
.para::selection { background-color: rgba(0.2, 0.2, 0.2, 0.2); }
.d_highlight {
  background-color: rgba(0, 0, 0, 0.4)!important;
  width: auto;
  height: auto;
  padding: .2em;
  margin: -.2em 0;
  border-radius: 3px;
  font-size: 85%;
  font-family: SourceCodePro, Consolas, Liberation Mono, Menlo, Courier, monospace;
  text-indent: 0;
  border: none;
}
.d_highlight::selection { background-color: rgba(0.2, 0.2, 0.2, 0.2); }
.marvinsDisplayImages {
  height: 350px;
  margin: auto;
  padding: 20px;
}
.marvinsDisplayImages > img {
  height: 100%;
}
.marvinBtn {
  height: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
}
.animatedLogo {
  margin-top: 20px;
}
.statusLabels {
  margin: auto;
}
.usersStatusLabel {
  background-color: #337ab7;
  display: inline;
  padding: .2em .6em .3em;
  font-size: 14px;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  margin-left: 5px;
  margin-right: 5px;
}
.guildsStatusLabel {
  background-color: #337ab7;
  display: inline;
  padding: .2em .6em .3em;
  font-size: 14px;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  margin-left: 5px;
  margin-right: 5px;
}
/* Marvins Page End */

/* Marvins Dashboard Start */
  .marvins_dashboard { padding-top: 60px; background: var(--DarkNavyBlue); height: 100%; }
  .marvins_dashboard > .marvins_header { display: grid; grid-template-columns: 50% 50%; }
  .marvins_dashboard > .marvins_header > h1 { margin-left: 16px; }
  .marvins_dashboard > .marvins_header > h5 { text-align: right; margin-right: 16px; }
  .marvins_dashboard_content_container { display: grid; grid-template-columns: 170px auto; }
  .marvins_dashboard_menu { display: grid; height: 170px; }
  .marvins_dashboard_menu > .marvins_dashboard_menu_item { width: fit-content; }
  .marvins_dashboard_menu > .marvins_dashboard_menu_item.selected > img { cursor: pointer; width: 85px; height: 85px; padding: 0px; filter: var(--BlueFilter); }
  .marvins_dashboard_menu > .marvins_dashboard_menu_item.selected > div { display: inline-block; font-weight: bold; font-family: 'Nunito', 'Open Sans'; filter: var(--BlueFilter); color: gray; }
  .marvins_dashboard_menu > .marvins_dashboard_menu_item > img { cursor: pointer; filter: invert(1); width: 85px; height: 85px; padding: 5px; }
  .marvins_dashboard_menu > .marvins_dashboard_menu_item > img:hover { cursor: pointer; width: 85px; height: 85px; padding: 0px; filter: var(--BlueFilter); }
  .marvins_dashboard_menu > .marvins_dashboard_menu_item > div { display: none; }
  .marvins_dashboard_menu > .marvins_dashboard_menu_item:not(.selected):hover > div {
    animation-duration: 0.7s;
    animation-name: fadeInRight;
    display: inline-block;
    font-weight: bold;
    font-family: 'Nunito', 'Open Sans';
    filter: var(--BlueFilter);
    color: gray;
  }
  .marvins_dashboard_content { padding-top: 13px; overflow-x: hidden; }
  .marvins_dashboard_content > div { display: none; }
  .marvins_dashboard_content > div.selected { display: grid; }
  .marvins_dashboard_content > div { animation-duration: 0.7s; animation-name: fadeInRight; transition: 0.7s; }
  .marvins_dashboard_content > div > div { padding: 5px; }
  .marvin_guild_info > div {
    padding-top: 3px;
    padding-bottom: 3px;
  }
  .marvin_clan_settings {
    display: grid;
    grid-template-columns: 380px 260px 240px 240px;
  }
  .marvin_clan_settings > div > .btn {
    cursor: pointer;
  }
  #blacklist { text-align: center; display: grid; grid-template-rows: 25px; }
  #blacklist > div > div {
    display: inline-block;
    border-radius: 10px;
    background-color: lightslategray;
    padding: 2px 6px;
    font-size: 12px;
    margin: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
  }
  #whitelist { text-align: center; display: grid; grid-template-rows: 25px; }
  #whitelist > div > div {
    display: inline-block;
    border-radius: 10px;
    background-color: lightslategray;
    padding: 2px 6px;
    font-size: 12px;
    margin: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
  }
  .marvin_clan_info {
    display: grid;
    grid-template-columns: auto 120px;
  }
  .rankings_title {
    display: grid;
    grid-template-columns: auto 80px 130px 100px 110px 100px 100px 190px 180px;
    font-weight: bold;
    border-top: 1px var(--LightNavyBlue) solid;
    border-bottom: 1px var(--LightNavyBlue) solid;
  }
  .rankings_title > div {
    padding: 5px 20px;
    margin-left: -20px;
    margin-right: 20px;
    position: relative;
  }
  .rankings_title > div:last-child { margin-right: 0px; }
  .rankings_title > div > div {
    display: inline-block;
    padding-right: 5px;
  }
  .rankings_title > div > .caret_down {
    background-image: url("/images/icons/arrow.png");
    background-size: 15px 15px;
    transform: rotate(270deg);
    position: absolute;
    top: 9px;
    height: 15px;
    width: 15px;
  }
  .rankings_title > div > .caret_up {
    background-image: url("/images/icons/arrow.png");
    background-size: 15px 15px;
    transform: rotate(90deg);
    position: absolute;
    top: 9px;
    height: 15px;
    width: 15px;
  }
  .rankings_title > div:hover {
    background-color: var(--NavyBlue);
    cursor: pointer;
    color: #c7c7c7;
  }
  .clan_member {
    display: grid;
    grid-template-columns: auto 80px 130px 100px 110px 100px 100px 190px 180px;
    margin-bottom: 1px;
    padding: 5px 2px;
    border-bottom: 1px var(--LightNavyBlue) solid;
  }
  .clan_member > div { padding-left: 2px; }
  .clan_member > div:first-child { padding-left: 0px; }
  .customCheck {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    line-height: 25px;
  }
  .customCheck input { position: absolute; opacity: 0; cursor: pointer; height: 0; width: 0; }
  .checkmark { position: absolute; top: 0; left: 0; height: 25px; width: 25px; background-color: #eee; }
  .customCheck:hover input ~ .checkmark { background-color: #ccc; }
  .customCheck input:checked ~ .checkmark { background-color: #2196F3; }
  .checkmark:after { content: ""; position: absolute; display: none; }
  .customCheck input:checked ~ .checkmark:after { display: block; }
  .customCheck .checkmark:after {
    left: 9px;
    top: 3px;
    width: 7px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .customTextbox {
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    line-height: 25px;
  }
  .customTextbox input {
    width: 40px;
    margin-right: 10px;
    height: 25px;
    text-align: center;
    float: left;
  }
  .clan_banner_container {
    position: absolute;
    width: 100px;
    right: 0;
    display: grid;
    grid-template-columns: auto;
  }
  .clan_banner { width: 66px; height: 110px; margin-bottom: 10px; }
  .clan_banner > canvas { position: absolute; height: 130px; }
  .clan_staff { position: absolute; width: 130px; }
  .gonfalon { position: absolute; width: 130px; }
  .gonfalon_detail { position: absolute; width: 130px; }
  .gonfalon_decal { position: absolute; width: 130px; }
  @keyframes fadeInRight { 0% { opacity: 0; transform: translateX(20px); } 100% { opacity: 1; transform: translateX(0); } }
/* Marvins Dashboard End */

/* Marvins Status Start */
  .status-container {
    height: 100%;
    background: var(--DarkNavyBlue);
    display: grid;
    grid-template-columns: 200px auto;
  }
  .graph-containers {
    display: grid;
    grid-template-columns: 50% 50%;
    color: #d4d4d4;
    padding-top: 50px;
  }
  .left-graph-containers {
    display: grid;
    grid-template-rows: 235px 235px 235px;
    color: #d4d4d4;
  }
  .right-graph-containers {
    display: grid;
    grid-template-rows: 235px 235px 235px;
    color: #d4d4d4;
  }
  .graph-overview-containers {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    color: #d4d4d4;
    padding-top: 50px;
  }
  .status-menu {
    padding-top: 60px;
    background: #1f2227;
  }
  .status-menu-item {
    width: 100%;
    margin: auto;
    text-align: left;
    padding: 5px 10px;
  }
  .status-menu-item.active {
    background-color: var(--LightNavyBlue);
    cursor: pointer;
  }
  .status-menu-item:hover {
    background-color: var(--LighterNavyBlue);
    cursor: pointer;
  }
  .graph-containers > div {
    margin: 10px auto;
  }
  .status-details {
    display: grid;
    grid-template-rows: 22px 20px;
    grid-template-columns: auto auto auto;
  }
  .status-details > #name { grid-row: 1; grid-column: span 3; text-align: center; }
  .status-details > #min { grid-row: 2; grid-column: 1; font-size: 12px; text-align: left; }
  .status-details > #max { grid-row: 2; grid-column: 3; font-size: 12px; text-align: right; }
  .status-details > #curr { grid-row: 2; grid-column: 2; font-size: 12px; text-align: center; }
  .status-details > #curr > #negative { color: tomato; }
  .status-details > #curr > #positive { color: #2cc36f; }

  .overview-container {
    padding: 55px 5px 5px 5px;
    display: grid;
    font-size: 14px;
    grid-template-columns: auto 250px;
  }
  .frontend-container {
    width: 100%;
    height: fit-content;
    background-color: var(--NavyBlue);
    border: 1px var(--LightNavyBlue) solid;
    display: block;
    margin: 5px;
    padding: 10px;
  }
  .backend-container {
    width: 100%;
    height: fit-content;
    background-color: var(--NavyBlue);
    border: 1px var(--LightNavyBlue) solid;
    display: block;
    margin: 5px;
    padding: 10px;
  }
  .overview-graphs {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
  .single-graph {
    display: inline-block;
  }
  .single-graph > div > .status-details > div {
    padding: 0px 10px;
  }
  .profile-card-info > .inspectTitles {
    height: 30px;
    padding: 2px;
    background-color: var(--DarkNavyBlue);
    border-bottom: 1px var(--LightNavyBlue) solid;
  }
  .profile-card-info > .inspectTitles > .inspectTitleContainer > div {
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: contain;
  }

/* Marvins Status End */
