@media only screen and (max-width: 1850px) {
  /* Start Marvin Status */
  .status-container { width: 100% !important; }
  .status-content { margin: auto auto !important; }
  .overview-container {
    grid-template-columns: auto auto !important;
    padding: 60px 0px 0px 0px !important;
  }
  .overview-graphs {
    margin-top: 10px !important;
    grid-template-columns: auto auto auto !important;
  }
  .graph-containers {
    grid-template-columns: auto !important;
  }
  /* End Marvin Status */
}
@media only screen and (max-width: 1550px) {
  .inspectBoxStatistics {
    grid-template-columns: 50% 50% !important;
    grid-template-rows: 240px 135px 135px 135px 135px !important;
  }
  .inspectUserDetailsContainer {
    grid-template-columns: 40px min-content auto !important;
    grid-template-rows: 50px 100px 50px !important;
    height: 205px !important;
  }
  .inspectProfileName { grid-row: 1 !important; grid-column: 2 !important; }
  .inspectUserDetails { grid-row: 1 !important; grid-column: 3 !important; text-align: right !important; padding-right: 10px !important; }
  .inspectViewActivitiesBtn { grid-row: 3 !important; grid-column: span 3 !important; margin: auto !important; }
  .inspectBoxRanks { grid-row: 2 !important; grid-column: span 3 !important; width: 100% !important; }
  .inspectBoxRanks > div { float: unset !important; }
  .inspectTitles { flex-wrap: wrap !important; height: 205px !important; }
  .inspectTitleObtained { width: 50px !important; height: 50px !important; }
  .inspectTitleNotObtained { width: 50px !important; height: 50px !important; }
  .biggerBox { grid-column: span 2; }

  /* Start Marvin Status */
  .status-container { width: 100% !important; }
  .status-content { margin: auto !important; }
  .overview-container {
    width: auto !important;
    margin: auto !important;
    grid-template-columns: auto !important;
    padding: 60px 0px 0px 0px !important;
  }
  .server-status-containers { grid-row: 1 !important; display: grid !important; grid-template-columns: auto auto !important; }
  .server-status-containers > div { width: 90% !important; margin: auto !important; }
  .overview-graphs {
    margin-top: 10px !important;
    grid-row: 2 !important;
    grid-template-columns: auto auto auto !important;
  }
  .graph-containers {
    grid-template-columns: auto !important;
  }
  /* End Marvin Status */

  .clan-rankings {
    grid-template-rows: unset !important;
    grid-template-columns: auto auto auto !important;
  }
}
@media only screen and (max-width: 1350px) {
  .inspectBoxStatistics {
    grid-template-columns: auto !important;
    grid-template-rows: 240px 230px 135px 135px 135px !important;
  }
  .biggerBox { grid-column: 1; }

  /* Start Marvin Status */
  .status-container { width: 100% !important; }
  .status-content { margin: auto !important; }
  .overview-container {
    width: auto !important;
    margin: auto !important;
    grid-template-columns: auto !important;
    padding: 60px 0px 0px 0px !important;
  }
  .server-status-containers { grid-row: 1 !important; display: grid !important; grid-template-columns: auto auto !important; }
  .server-status-containers > div { width: 90% !important; margin: auto !important; }
  .overview-graphs {
    margin-top: 10px !important;
    grid-row: 2 !important;
    grid-template-columns: auto auto auto !important;
  }
  .graph-containers {
    grid-template-columns: auto !important;
  }
  /* End Marvin Status */

  .clan-rankings {
    grid-template-rows: unset !important;
    grid-template-columns: auto auto !important;
  }
}
@media only screen and (max-width: 1200px) {
  /* Start Marvin Status */
  .status-container { grid-template-columns: 350px !important; display: block !important; width: 100% !important; }
  .status-menu { display: none !important; }
  .status-content { margin: auto !important; }
  .overview-container {
    width: 700px !important;
    margin: auto !important;
    grid-template-columns: auto !important;
    padding: 60px 0px 0px 0px !important;
  }
  .server-status-containers { grid-row: 1 !important; }
  .overview-graphs {
    margin-top: 10px !important;
    grid-row: 2 !important;
    grid-template-columns: auto auto !important;
  }
  /* End Marvin Status */
}
@media only screen and (max-width: 800px) {
  /* Loader start */
    .loaderText { top: 55% !important; }
    .loaderText > p { margin-top: 30px; }
  /* Loader end */

  /* Profile start */
    .userContainer { grid-template-columns: auto !important; }
    .inspectBoxStatistics {
      grid-template-columns: auto !important;
      grid-template-rows: 240px 175px 135px 135px 135px 135px !important;
    }
    .inspectUserDetailsContainer {
      grid-template-columns: 40px min-content auto !important;
      grid-template-rows: 50px 100px 50px !important;
      height: 210px !important;
    }
    .inspectProfileName { grid-row: 1 !important; grid-column: 2 !important; }
    .inspectUserDetails { grid-row: 1 !important; grid-column: 3 !important; text-align: right !important; padding-right: 10px !important; }
    .inspectViewActivitiesBtn { grid-row: 3 !important; grid-column: span 3 !important; margin: auto !important; }
    .inspectBoxRanks { grid-row: 2 !important; grid-column: span 3 !important; width: 100% !important; }
    .inspectBoxRanks > div { float: unset !important; }
    .inspectTitles { flex-wrap: wrap !important; height: 140px !important; }
    .inspectTitleObtained { width: 40px !important; height: 40px !important; }
    .inspectTitleNotObtained { width: 40px !important; height: 40px !important; }
    .inspectCollectibleItemContainer:hover .inspectCollectibleItemInfo, .inspectCollectibleItemInfo.selected { top: unset !important; right: unset !important; left: -110px !important; bottom: 35px !important; }
    .inspectBoxStatContent { height: unset !important; }
    .inspectBoxContentStats { grid-template-columns: 25% 35% 40% !important; font-size: 12px !important; }
    .inspectBoxContentStatsDiv { height: unset !important; }
    .inspectBoxContentStats.twoColumn { display: block; height: unset !important; padding-bottom: 8px !important; }
    .inspectBoxContentIcon.twoColumn { padding-right: 10px !important; margin-left: -10px !important; }
    .inspectBoxContentIcon.threeColumn { padding-right: 10px !important; margin-left: -10px !important; }
    .biggerBox { grid-column: 1; }
  /* Profile end */

  /* Activities start */
    .ActivitiesContent { grid-template-columns: auto !important; }
    .leftActivityContainer { grid-template-columns: 45px auto 100px 45px 85px !important; }
  /* Activities end */

  /* Marvin start */
  .detailsContainer {
    grid-template-columns: auto !important;
  }
  .features { grid-template-rows: auto !important; }
  /* Marvin end */

  /* Settings start */
    .settings-bg {
      position: absolute !important;
    }
    .settings-modal {
      height: max-content !important;
      padding-bottom: 15px !important;
    }
    .settings-content {
      grid-template-columns: auto !important;
    }
    .select-custom-loader {
      width: 90% !important;
      margin-left: unset !important;
      margin: auto !important;
      margin-bottom: 10px !important;
    }
    .select-custom-background {
      width: 90% !important;
      margin-left: unset !important;
      margin: auto !important;
      grid-row: unset !important;
    }
    .settings-background-options { grid-template-columns: auto auto !important; }
    .settings-background-image {
      background-size: contain !important;
      width: 85px !important;
      height: 50px !important;
    }
  /* Settings end */

  /* Home start */
    #username { max-width: unset !important; }
    .home-content { width: 90% !important; margin: auto; }
    .home-text { width: 90% !important; margin: auto !important; }
    .menu-bar > li { display: none !important; }
    .search-input { width: 90% !important; margin: 30px auto !important; }
    .search-output { width: 90% !important; margin: 30px auto !important; }
  /* Home end */

  /* Others start */
    .detailsContainer { background: var(--BlueGradient); height: max-content; }
  /* Others end */

  /* Start Marvin Status */
  .status-container { grid-template-columns: 350px !important; display: block !important; width: 100% !important; }
  .status-menu { display: none !important; }
  .status-content { margin: auto !important; }
  .overview-container {
    width: 350px !important;
    margin: auto !important;
    grid-template-columns: auto !important;
    padding: 60px 0px 0px 0px !important;
  }
  .server-status-containers { grid-row: 1 !important; display: block !important; }
  .server-status-containers > div { margin: 5px auto auto auto !important; }
  .overview-graphs {
    margin-top: 10px !important;
    grid-row: 2 !important;
    grid-template-columns: auto !important;
  }
  /* End Marvin Status */
  .clans-content {
    padding-top: 60px !important;
  }
  .clan-rankings {
    grid-template-rows: unset !important;
    grid-template-columns: auto !important;
  }
  .clan-rankings-full {
    width: auto !important;
  }
}
@media only screen and (max-width: 700px) {
  /* Activities start */
    .leftActivityContainer { grid-template-columns: 45px auto 45px 85px !important; }
    .activityTitle > span { width: 150px !important; }
    .activityTimePlayed { display: none !important; }
    .getMarvinBtn { display: none; }
  /* Activities end */
}
@media only screen and (max-width: 400px) {
  /* Activities start */
    .leftActivityContainer { grid-template-columns: 45px auto 45px 85px !important; }
    .activityTimePlayed { display: none !important; }
  /* Activities end */
}
