@media only screen and (max-width: 800px) {
  /* Loader start */
    .loaderText { top: 55% !important; }
    .loaderText > p { margin-top: 30px; }
  /* Loader end */

  /* Home start */
    .menu-bar > li { display: none !important; }
    .search-output { width: 90% !important; margin: 30px auto !important; }
  /* Home end */

  /* Profile start */
    .userContainer { grid-template-columns: auto !important; }
    .inspectBoxStatistics {
      grid-template-columns: auto !important;
      grid-template-rows: 240px 175px 135px 135px 135px 135px !important;
    }
    .inspectUserDetailsContainer {
      grid-template-columns: 40px min-content auto !important;
      grid-template-rows: 50px 100px 50px !important;
      height: 210px !important;
    }
    .inspectProfileName { grid-row: 1 !important; grid-column: 2 !important; }
    .inspectUserDetails { grid-row: 1 !important; grid-column: 3 !important; text-align: right !important; padding-right: 10px !important; }
    .inspectViewActivitiesBtn { grid-row: 3 !important; grid-column: span 3 !important; margin: auto !important; }
    .inspectBoxRanks { grid-row: 2 !important; grid-column: span 3 !important; width: 100% !important; }
    .inspectBoxRanks > div { float: unset !important; }
    .inspectTitles { flex-wrap: wrap !important; height: 140px !important; }
    .inspectTitleObtained { width: 40px !important; height: 40px !important; }
    .inspectTitleNotObtained { width: 40px !important; height: 40px !important; }
    .inspectCollectibleItemContainer:hover .inspectCollectibleItemInfo, .inspectCollectibleItemInfo.selected { top: unset !important; right: unset !important; left: -110px !important; bottom: 35px !important; }
    .inspectBoxStatContent { height: unset !important; }
    .inspectBoxContentStats { grid-template-columns: 25% 35% 40% !important; font-size: 12px !important; }
    .inspectBoxContentStatsDiv { height: unset !important; }
    .inspectBoxContentStats.twoColumn { display: block; height: unset !important; padding-bottom: 8px !important; }
  /* Profile end */

  /* Activities start */
    .ActivitiesContent { grid-template-columns: auto !important; }
    .leftActivityContainer { grid-template-columns: 45px auto 100px 45px 85px !important; }
  /* Activities end */

  /* Marvin start */
  .detailsContainer {
    grid-template-columns: auto !important;
  }
  .features { grid-template-rows: auto !important; }
  /* Marvin end */

  /* Settings start */
    .settings-bg {
      position: absolute !important;
    }
    .settings-modal {
      height: max-content !important;
      padding-bottom: 15px !important;
    }
    .settings-content {
      grid-template-columns: auto !important;
    }
    .select-custom-loader {
      width: 90% !important;
      margin-left: unset !important;
      margin: auto !important;
      margin-bottom: 10px !important;
    }
    .select-custom-background {
      width: 90% !important;
      margin-left: unset !important;
      margin: auto !important;
      grid-row: unset !important;
    }
    .settings-background-options { grid-template-columns: auto auto !important; }
    .settings-background-image {
      background-size: contain !important;
      width: 85px !important;
      height: 50px !important;
    }
  /* Settings end */

  /* Others start */
    .home-content { width: 100% !important; }
    .home-text { width: 90% !important; margin: auto !important; }
    .detailsContainer { background: var(--BlueGradient); height: max-content; }
  /* Others end */
}
@media only screen and (max-width: 700px) {
  /* Activities start */
    .leftActivityContainer { grid-template-columns: 45px auto 45px 85px !important; }
    .activityTitle > span { width: 150px !important; }
    .activityTimePlayed { display: none !important; }
  /* Activities end */
}
@media only screen and (max-width: 400px) {
  /* Activities start */
    .leftActivityContainer { grid-template-columns: 45px auto 45px 85px !important; }
    .activityTimePlayed { display: none !important; }
  /* Activities end */
}
