@media only screen and (max-width: 800px) {
  .home-content {
    width: unset !important;
  }
  #itemCategories { grid-template-columns: 100% !important; grid-template-rows: 150% !important; margin-bottom: 50px !important; text-align: center !important; display: block !important; }
  .settings-cog { display: none !important; }
  #LoginBtn {
    display: block !important;
    float: unset !important;
    margin: 5px auto !important;
    grid-row: 1;
  }
  #character_select {
    display: block !important;
    float: unset !important;
    margin: 5px auto;
    grid-row: 3;
  }
  .menu-container {
    display: none !important;
  }
  .menu-bar {
    display: block !important;
    height: unset !important;
    line-height: unset !important;
    grid-row: 2;
  }
  #menu.show {
    display: grid !important;
    background-color: var(--DarkNavyBlue);
    grid-template-rows: 50px 250px 50px;
  }
  .title-bar.show {
    grid-template-columns: unset !important;
    grid-template-rows: 50px auto !important;
    height: 100% !important;
  }
  .menu-item:hover { border-bottom: 0px !important; }
  .menu-ul { display: none; }
  .menu-switch-icon {
    display: block !important;
    font-size: 42px;
    margin-right: 10px;
    margin-top: -5px;
    margin-bottom: -10px;
    position: absolute;
    right: 0;
    top: 0;
  }
  .menu-item {
    display: block !important;
    text-align: center;
    font-size: 24;
    height: 37px !important;
  }
  .menu-item-disabled {
    display: block !important;
    text-align: center;
    font-size: 24;
    height: 37px !important;
  }
  .ActivitiesContent { grid-template-columns: 100% !important; }
  .container { overflow: hidden !important; }
  #info-box { margin-top: 0px !important; }
  .monitorArrayLabel {
    top: 110px !important;
    left: 97px !important;
  }
  .monitorResetBtn {
    top: 140px !important;
    left: 96px !important;
  }
  .triumphPage { display: none; }
  .loginBox {
    height: 190px !important;
    width: 100% !important;
  }
  .collectibleItemContainer:hover .collectibleItemInfo { display: none !important; }
  .inspectContent { grid-template-columns: minmax(250px, 1fr); }
  #InspectBoxCharacterViewer { display: none; }
  #InspectBoxRecentActivities { display: none; }
  .inspectBoxPvPTitle { width: 100%; }
  .inspectBoxStatPVP { width: 100%; }
  .imgCredit { display: none; }
  .inspectBoxStatContent {
    height: unset !important;
  }
  .inspectBoxContentStats {
    grid-template-columns: 25% 35% 40%;
    font-size: 12px;
  }
  .inspectBoxContentStatsDiv {
    height: unset !important;
  }
  .inspectBoxContentStats.twoColumn {
    display: block;
    height: unset !important;
    padding-bottom: 5px;
  }
  .vendors {
    grid-template-columns: 100%;
  }
  .loaderText {
    top: 55% !important;
  }
}
