.monitorContainer { display: inline-block; vertical-align: top; position: relative; }
.monitorArrayLabel { position: absolute; top: 175px; left: 145px; width: 57px; }
.monitorResetBtn { position: absolute; top: 200px; left: 145px; }
.monitor { height: 400px; width: 400px; margin-top: -40px; margin-right: -25px; margin-left: -25px; }
.monitor > svg { width: 100%; height: 100%; }
.marker {
  width: 50px;
  height: 50px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  display: none;
}
@media (max-width: 400px) { .monitor { height: 300px; width: 300px; } }

[class|=wheelnav-monitor1-slice-basic] { fill: #C466FF; stroke: none; }
[class|=wheelnav-monitor1-slice-selected] { fill: #D493FF; stroke: none; cursor: pointer; }
[class|=wheelnav-monitor1-slice-hover] { fill: #DDAAFF;  stroke: none; cursor: pointer; }

[class|=wheelnav-monitor1-title-basic] { fill: #333; stroke: none; }
[class|=wheelnav-monitor1-title-selected] { fill: #333; stroke: none; }
[class|=wheelnav-monitor1-title-hover] { fill: #222; stroke: none; cursor: pointer; }
[class|=wheelnav-monitor1-title] > tspan { font-family: Impact, Charcoal, sans-serif; font-size: 24px; cursor: pointer; }

[class|=wheelnav-monitor2-slice-basic] { fill: #83C1FF; stroke: none; }
[class|=wheelnav-monitor2-slice-selected] { fill: #9DCEFF; stroke: none; cursor: pointer; }
[class|=wheelnav-monitor2-slice-hover] { fill: #ADD6FF;  stroke: none; cursor: pointer; }

[class|=wheelnav-monitor2-title-basic] { fill: #333; stroke: none; }
[class|=wheelnav-monitor2-title-selected] { fill: #333; stroke: none;  }
[class|=wheelnav-monitor2-title-hover] { fill: #222; stroke: none; cursor: pointer; }
[class|=wheelnav-monitor2-title] > tspan { font-family: Impact, Charcoal, sans-serif; font-size: 24px; cursor: pointer; }

[class|=wheelnav-monitor3-slice-basic] { fill: #FF5656; stroke: none; }
[class|=wheelnav-monitor3-slice-selected] { fill: #FF7C7C; stroke: none; cursor: pointer; }
[class|=wheelnav-monitor3-slice-hover] { fill: #FF9191;  stroke: none; cursor: pointer; }

[class|=wheelnav-monitor3-title-basic] { fill: #333; stroke: none; }
[class|=wheelnav-monitor3-title-selected] { fill: #333; stroke: none; }
[class|=wheelnav-monitor3-title-hover] { fill: #222; stroke: none; cursor: pointer; }
[class|=wheelnav-monitor3-title] > tspan { font-family: Impact, Charcoal, sans-serif; font-size: 24px; cursor: pointer; }
