.inspectContainer {
  height: 100%;
  padding-top: 60px;
}
.inspectPrivateUser {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:100%;
  height:100px;
  text-align: center;
}
.inspectPrivateUser > div { display: inline-grid; }
.inspectPrivateUser > div > div { display: block; text-decoration: none; color: white; }
.inspectPrivateUser > div > div > a { display: block; font-weight: bold; color: darkgray; }
.inspectPrivateUser > img {
  display: inline-grid;
  background-size: cover;
  width: 100px;
  height: 100px;
  margin: auto;
}
.inspectTitlebar {
  height: 60px;
  width: 100%;
  background-color: var(--InbetweenerNavyBlue);
}
.inspectContent {
  width: 100%;
  height: 100%;
  display: grid;
}
.inspectBox {
  height: 100%;
  width: 100%;
  background-color: var(--NavyBlue);
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  position: relative;
}
.inspectBoxContent {
  background: var(--NavyBlue);
  border-bottom: 1px solid var(--DarkNavyBlue);
  border-right: 1px solid var(--DarkNavyBlue);
}
.inspectBoxMenu {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  background-color: var(--NavyBlue);
  border-top: 1px solid var(--DarkNavyBlue);
}
.inspectBoxMenu > div {
  height: 34px;
  line-height: 34px;
}
.inspectBoxMenu > div:hover {
  background-color: var(--LightNavyBlue);
  cursor: pointer;
}
.inspectBoxMenu > div.active { background-color: var(--LightNavyBlue); }
.inspectBoxTitle {
  width: 100%;
  padding: 5px;
  background-color: var(--LightNavyBlue);
  border-bottom: 1px solid var(--DarkNavyBlue);
  border-top: 1px solid var(--DarkNavyBlue);
}
.inspectRanks {
  float: right;
}
.inspectBoxRanks {
  float: right;
  font-size: 14px;
  line-height: 16px;
  color: #ccc;
  text-align: center;
  grid-row: span 2;
}
.inspectBoxRanksTitle { display:block; font-weight:bold; }
.inspectBoxRanksScore {
  margin-top: -35px;
  display:block;
}
.inspectBoxRanksImage {
  width: 50px;
  height: 35px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 30px;
  left: 30px;
}
.inspectBoxRanksValor { display: inline-block; position: relative; float: left; }
.inspectBoxRanksGlory { display: inline-block; position: relative; float: left; }
.inspectBoxRanksInfamy { display: inline-block; position: relative; float: left; }
.inspectProfileName {
  float: left;
  font-size: 22px;
  margin-left: 5px;
  margin-right: 5px;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  width: 220px;
}
.inspectIsHackerContainer { position: relative; }
.inspectIsHackerDesc { display: none; }
.inspectIsHackerContainer:hover .inspectIsHackerDesc {
  display: block;
  position: absolute;
  background-color: var(--DarkNavyBlue);
  top: -10px;
  left: 50px;
  padding: 10px;
  font-size: 12px;
  width: 200px;
}
.inspectIsHackerIcon {
  display: inline-block;
  height: 40px;
  width: 40px;
  float: left;
  margin-left: 3px;
  margin-top: 8px;
  background-size: contain;
  background-repeat: no-repeat;
}
.inspectUserDetailsContainer {
  border-bottom: 1px solid var(--DarkNavyBlue);
  background-color: var( --NavyBlue);
  width: 100%;
  height: 105px;
  display: grid;
  grid-template-columns: 40px max-content max-content auto;
  grid-template-rows: 50px 55px;
}
.inspectUserDetails {
  float: left;
  font-size: 12px;
  height: 40px;
  line-height: 15px;
  margin-top: 15px;
  color: #ccc;
  padding-left: 5px;
}
.inspectLastPlayed { display: block; }
.inspectVersion {
  display: inline-block;
  height: 30px;
  width: 30px;
  float: left;
  margin-left: 5px;
  margin-top: 12px;
  background-size: contain;
  background-repeat: no-repeat;
}
.inspectTimePlayed { display: block; }
.inspectTitles {
  background: var(--InbetweenerNavyBlue);
  padding: 20px 5px;
  height: 105px;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--DarkNavyBlue);
  flex-wrap: wrap;
}
.inspectTitleContainer {
  position: relative;
  margin: 2px;
  height: 55px;
}
.inspectTitleObtained {
  height: 47px;
  width: 37px;
  background-repeat: no-repeat;
  background-size: contain;
}
.inspectTitleNotObtained {
  height: 47px;
  width: 37px;
  background-repeat: no-repeat;
  background-size: contain;
  filter: contrast(0.7) brightness(0.5);
}
.inspectTitleContainer .titleInfo, .inspectTitleContainer .titleInfo { display: none; }
.inspectTitleContainer:hover .titleInfo, .inspectTitleContainer:hover .titleInfo, .titleInfo.selected {
  background: var(--LightNavyBlue) no-repeat 100% 5%;
  border: var(--NavyBlue) 1px solid;
  position: absolute;
  display: block;
  left: 0px;
  top: 55px;
  width: 250px;
  z-index: 5;
}
.titleName {
  text-align: center;
  padding: 3px;
  border-bottom: 1px solid var(--NavyBlue);
  color: darkorchid;
  font-weight: bold;
}
.titleDesc {
  padding: 5px;
  font-size: 14px;
  border-bottom: 1px solid var(--NavyBlue);
  color: #ccc;
}
.inspectNoTitlesObtained {
  display: inline-block;
  background-color: var(--NavyBlue);
  border-radius: 10px;
  padding: 6px;
  border: 1px solid var(--LightNavyBlue);
  margin-right: 15px;
  height: 37px;
}
.inspectBoxActivities {
  display: grid;
  grid-auto-rows: auto;
}
.inspectActivityContainer {
  width: 100%;
  border-bottom: 1px var(--LightNavyBlue) solid;
  padding: 5px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 17% 83%;
  font-size: 13px;
  background-color: var(--NavyBlue);
  justify-content: center;
  align-items: center;
}
.inspectActivityContainer:hover {
  cursor: default;
  background-color: var(--NavyBlue);
}
.inspectActivityTitle {
  margin: 0px;
}
.inspectBoxContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
}
.inspectBoxStatistics {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 140px 136px 136px 225px;
}
.inspectBoxCollections {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
}
.userContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto 400px;
  background-color: var(--DarkNavyBlue);
}
.inspectBoxPVPIcon {
  float: left;
  width: 17%;
}
.inspectBoxContentTitle {
  width: 100%;
  padding: 5px;
  background-color: var(--LightNavyBlue);
  border-bottom: 1px solid var(--DarkNavyBlue);
  border-top: 1px solid var(--DarkNavyBlue);
}
.inspectBoxStatContent {
  background: var(--NavyBlue);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  width: 100%;
}
.inspectBoxStatContent.twoColumn {
  justify-content: center;
  align-items: start;
  height: 175px;
  padding: 8px;
}
.inspectBoxStatContent.threeColumn {
  justify-content: center;
  align-items: start;
  height: 175px;
  padding: 8px;
}
.inspectBoxContentStats {
  float: right;
  width: 83%;
  display: grid;
  grid-template-columns: 30% 35% 35%;
  font-size: 15px;
  height: 80px;
  align-items: center;
}
.inspectBoxContentStats.twoColumn {
  grid-template-columns: 50% 50%;
  align-items: start;
}
.inspectBoxContentStats.threeColumn {
  grid-template-columns: 33.3% 33.3% 33.3%;
  align-items: start;
}
.inspectBoxContentIcon {
  padding-right: 10px;
}
.inspectBoxContentIcon.twoColumn {
  padding-right: 20px;
}
.inspectBoxContentIcon.threeColumn {
  padding-right: 20px;
}
.inspectBoxContentStatsDiv {
  height: 75px;
  display: grid;
  align-items: center;
  text-align: left;
}
.inspectBoxContentStatsDiv.twoColumn {
  grid-template-rows: auto;
  height: 150px;
}
.inspectBoxContentStatsDiv.threeColumn {
  grid-template-rows: auto;
  height: 150px;
}
.inspectBoxContentStatsDiv > span:hover { cursor: default; }
.inspectBoxContentStatsDiv > .fake { visibility: hidden; }
.contentStatTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.inspectBoxContentMessage {
  font-size: 12px;
  margin-top: -10px;
}
.itemSubCategory {
  padding-bottom: 10px;
  background-color: var(--NavyBlue);
}
.itemCollectibleCategory {
  padding: 2px 10px;
}
.itemCollectibleCategory > p {
  margin: 0px;
}
.inspectSubCategoryTitle {
  width: 100%;
  padding: 5px;
  margin: 0px;
  background-color: var(--LightNavyBlue);
  border-bottom: 1px solid var(--DarkNavyBlue);
  border-top: 1px solid var(--DarkNavyBlue);
}
.inspectCollectibleItemContainer {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin: 3px;
  position: relative;
  cursor: pointer;
}
.inspectCollectibleItemContainer > img {
  width: 30px;
  height: 30px;
}
.inspectCollectibleItemContainer .inspectCollectibleItemInfo { display: none; }
.inspectCollectibleItemContainer:hover .inspectCollectibleItemInfo, .inspectCollectibleItemInfo.selected {
  background: var(--LightNavyBlue) no-repeat 100% 5%;
  border: var(--NavyBlue) 1px solid;
  position: absolute;
  display: block;
  right: 30px;
  top: 30px;
  width: 250px;
  z-index: 5;
}
.inspectCollectibleItemInfo > .title {
  border-bottom: 1px solid var(--NavyBlue);
  font-size: 14px;
  line-height: 25px;
  padding: 5px;
  font-weight: bold;
  font-family: sans-serif;
}
.inspectCollectibleItemInfo > .description {
  padding: 5px;
  font-size: 12px;
  color: #ccc;
}
.inspectCollectibleItemInfo > .hash {
  padding: 5px;
  font-size: 12px;
  color: #ccc;
}
.inspectCollectibleItemInfo > .requirements {
  padding: 5px;
  font-size: 10px;
  font-style: italic;
  color: #bbb;
}
.notAcquired { opacity: 0.3; }
.inspectCollectibleItemInfo .notAcquired { opacity: 1; }
.inspectViewActivitiesBtn {
  padding: 5px 5px;
  background: rgba(255,255,255,0.05);
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  grid-row: 2;
  grid-column: span 3;
  margin: 10px;
  font-size: 14px;
}
.inspectViewActivitiesBtn:hover {
  cursor: pointer;
  background: rgba(255,255,255,0.1);
}
/* Profile Preview Start */
.profile-card-container {
  background-color: var(--DarkNavyBlue);
  position: fixed;
  text-align: center;
  top: 310px;
  right: -190px;
  height: 515px;
  width: 420px;
  z-index: 100;
  transform: translate(-50%, -50%);
}
.profile-card-banner-info {
  border-bottom: 1px var(--LightNavyBlue) solid;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: grid;
  height: 85px;
  width: 100%;
}
.profile-card-banner-info > #display-name {
  position: absolute;
  left: 90px;
  top: 8px;
}
.profile-card-banner-info > #display-name > h4 { display: inline-block; }
.status-tags { display: inline-grid; width: max-content; position: absolute; top: 6px; }
.status-tags > :nth-of-type(1) { margin-bottom: 5px; }
.status-tags > :nth-of-type(2) { margin-bottom: 5px; }
.status-tags > :nth-of-type(3) { margin-bottom: 5px; }
.status-tags > #patreon {
  display: inline-block;
  border: 1px #73d8ff solid;
  color: #73d8ff;
  padding: 0px 3px;
  font-size: 12px;
  line-height: 13px;
  border-radius: 3px;
  margin-left: 5px;
}
.status-tags > #donor {
  display: inline-block;
  color: #ffee73;
  border: 1px #ffee73 solid;
  padding: 0px 3px;
  font-size: 12px;
  line-height: 13px;
  border-radius: 3px;
  margin-left: 5px;
}
.status-tags > #developer {
  display: inline-block;
  color: #c973ff;
  border: 1px #c973ff solid;
  padding: 0px 3px;
  font-size: 12px;
  line-height: 13px;
  border-radius: 3px;
  margin-left: 5px;
}
.status-tags > #customDev {
  display: inline-block;
  color: white;
  border: 1px white solid;
  padding: 0px 3px;
  font-size: 12px;
  line-height: 13px;
  border-radius: 3px;
  margin-left: 5px;
}
.status-tags > #customDev > a { color: white; text-decoration: none; }
.profile-card-banner-info > #character-class {
  position: absolute;
  font-size: 14px;
  left: 93px;
  top: 32px;
}
.profile-card-banner-info > #character-timePlayed {
  position: absolute;
  font-size: 14px;
  left: 93px;
  top: 48px;
}
.profile-card-banner-info > #season-rank {
  display: flex;
  position: absolute;
  font-size: 16px;
  top: 38px;
  right: 5px;
}
.profile-card-banner-info > #season-rank > #season-rank-icon {
  align-self: flex-start;
  font-size: 10px;
  margin-top: 1px;
  margin-right: 2px;
}
.profile-card-banner-info > #character-light-level {
  display: flex;
  position: absolute;
  top: 5px;
  right: 5px;
  color: #DDCB59;
}
.profile-card-banner-info > #character-light-level > #light-level-icon {
  align-self: flex-start;
  font-size: 18px;
  margin-top: 2px;
  color: #DDCB59;
}
.profile-card-info { border-bottom: 1px var(--LightNavyBlue) solid; }
.profile-card-info > .inspectTitles > .inspectNoTitlesObtained { height: 24px; font-size: 12px; line-height: 12px; }
.profile-card-info > .inspectTitles > .titleInfo { height: 24px; font-size: 12px; line-height: 12px; }
.profile-card-info > .inspectBoxRanks {
  display: inline-block;
  text-align: left;
  float: left;
  width: 270px !important;
}
.profile-card-info > .inspectBoxRanks > div {
  position: relative;
}
.profile-card-info > .inspectBoxRanks > div > .progressArc {
  height: 85px;
  width: 85px;
  margin: 0px;
}
.profile-card-info > .inspectBoxRanks > div > .inspectBoxRanksImage {
  width: 85px;
  top: 22px;
  left: 5px;
}
.profile-card-info > .inspectBoxRanks > div > .inspectBoxRanksScore {
  text-align: center;
  position: absolute;
  bottom: 14px;
  left: 4px;
  width: 85px;
}
.profile-card-info > .profile-card-sub-info {
  display: inline-block;
  height: 85px;
  width: 150px;
}
.profile-card-sub-info {
  width: 100%;
  font-size: 14px;
  margin-top: 10px;
  text-align: left;
}
.profile-card-sub-info > #full-view-btn {
  padding: 5px 10px;
  background: rgba(255,255,255,0.05);
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 5px auto;
  font-size: 14px;
  line-height: 20px;
  display: block;
  color: unset;
  text-decoration: none;
}
.profile-card-sub-info > #full-view-btn:hover {
  cursor: pointer;
  background: rgba(255,255,255,0.1);
}
#close-view-btn {
  padding: 5px 10px;
  background: rgba(255,255,255,0.05);
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 5px auto;
  font-size: 14px;
  line-height: 20px;
  display: block;
  color: unset;
  text-decoration: none;
}
#close-view-btn:hover {
  cursor: pointer;
  background: rgba(255,255,255,0.1);
}
.profile-card-info-title {
  text-align: left;
  font-size: 16px;
}
.profile-card-info-content {
  text-align: left;
  font-size: 14px;
}
.profile-card-main-info-crucible {
  display: grid;
  grid-template-columns: 50% 50%;
  border-bottom: 1px var(--LightNavyBlue) solid;
}
.profile-card-main-info-crucible-left {
  text-align: left;
  padding: 5px;
}
.profile-card-main-info-crucible-right {
  text-align: left;
  padding: 5px;
}
.profile-card-main-info-trials {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  border-bottom: 1px var(--LightNavyBlue) solid;
}
.profile-card-main-info-trials-left {
  text-align: left;
  padding: 5px;
}
.profile-card-main-info-trials-mid {
  text-align: left;
  padding: 5px;
}
.profile-card-main-info-trials-right {
  text-align: left;
  padding: 5px;
}
.profile-card-main-info-trials-card {
  text-align: left;
  padding: 5px;
}
.trials-win-box {
  display: inline-block;
  background-color: #CCB81B;
  border: 1px #555 solid;
  padding: 1px;
  margin: 0 1px;
  width: 20px;
  height: 20px;
}
.trials-neutral-box {
  display: inline-block;
  background-color: var(--NavyBlue);
  border: 1px #555 solid;
  padding: 1px;
  margin: 0 1px;
  width: 20px;
  height: 20px;
}
.trials-loss-box {
  display: inline-block;
  position: relative;
  border: 1px #555 solid;
  padding: 1px;
  margin: 0 1px;
  width: 20px;
  height: 20px;
}
.trials-loss-box:before, .trials-loss-box:after {
  position: absolute;
  top: 1px;
  left: 8px;
  content: ' ';
  height: 16px;
  width: 2px;
  background-color: tomato;
}
.trials-loss-box:before { transform: rotate(45deg); }
.trials-loss-box:after { transform: rotate(-45deg); }
.profile-card-info > .inspectTitles {
  height: 30px;
  padding: 2px;
  background-color: var(--DarkNavyBlue);
  border-bottom: 1px var(--LightNavyBlue) solid;
}
.profile-card-info > .inspectTitles > .inspectTitleContainer > .inspectTitleObtained {
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-size: contain;
}
.profile-card-info > .inspectTitles > .inspectTitleContainer > .inspectTitleNotObtained {
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-size: contain;
}
.profile-card-info > .inspectTitles > .inspectTitleContainer > .titleInfo {
  right: 1px;
  top: 25px;
  left: unset;
}
/* Profile Preview End */
