.profileContainer {
  height: 100%;
  display: grid;
  grid-template-rows: 60px auto;
}
.profileTitlebar {
  height: 60px;
  width: 100%;
  background-color: var(--InbetweenerNavyBlue);
}
.profileContent {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
}
