.scrollbar { overflow-y: scroll; overflow-x: hidden; scrollbar-color: var(--DarkNavyBlue) var(--LightNavyBlue); }
.hideOverflow { overflow-y: auto; }
.scrollbar::-webkit-scrollbar { width: 15px; }
.scrollbar::-webkit-scrollbar-track { background: var(--LightNavyBlue); border: 1px var(--NavyBlue) solid; border-bottom: 0px; }
.scrollbar::-webkit-scrollbar-thumb { background: var(--DarkNavyBlue); }
.scrollbar::-webkit-scrollbar-thumb:hover { background: var(--DarkNavyBlue); }
.activityScrollbar { overflow-y: scroll; overflow-x: hidden; scrollbar-color: var(--LightNavyBlue) var(--DarkNavyBlue); }
.activityScrollbar::-webkit-scrollbar { width: 15px; }
.activityScrollbar::-webkit-scrollbar-track { background: var(--DarkNavyBlue); border: 1px var(--NavyBlue) solid; border-bottom: 0px; }
.activityScrollbar::-webkit-scrollbar-thumb { background: var(--LightNavyBlue); }
.activityScrollbar::-webkit-scrollbar-thumb:hover { background: var(--LightNavyBlue); }
.scroller {
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: var(--DarkNavyBlue) var(--LightNavyBlue);
}
