@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('Vendors.css');
@import url('Characterdata.css');
@import url('Profile.css');
@import url('Inspect.css');
@import url('Activities.css');
@import url('Piechart.css');
@import url('Loader.css');
@import url('Home.css');
@import url('Triumphs.css');
@import url('Items.css');
@import url('Scrollbar.css');
@import url('Smallscreen.css');
@import url('Mobile.css');
@font-face {
  font-family: DestinySymbols;
  src: url("/fonts/DestinySymbols.woff");
}
:root {
  --DarkerNavyBlue: #181a1f;
  --DarkNavyBlue: #1A1D22;
  --MedNavyBlue: #1f2227;
  --NavyBlue: #21242A;
  --InbetweenerNavyBlue: #25282F;
  --LightNavyBlue: #292C33;
  --LighterNavyBlue: #353841;
}
html {
  height: 100%;
}
body {
  height: 100%;
  margin:0px;
  padding:0px;
  font-family: 'Nunito', sans-serif, DestinySymbols;
  background-color: var(--DarkNavyBlue);
  background-attachment: fixed;
  color:white;
}
#root {
  height: 100%;
}
.App {
  height: 100%;
}
.page-content {
  width: 100%;
  height: 100%;
  padding-top: 50px;
}
.disable-hl {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.title-bar {
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 5;
  display: grid;
  grid-template-columns: 170px auto;
  background-color: var(--DarkNavyBlue);
}
.logo {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-right: 5px;
  margin-top: -5px;
}
#logo_title {
  color: white;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
}
.logo-container {
  cursor: pointer;
}
#search-form {
  position: absolute;
  right: 5px;
  top: 5px;
}
#search-term {
  background-color: var(--LightNavyBlue);
  border-color: darkgray;
  color: white;
}
#username-field {
  background-color: var(--DarkNavyBlue);
  border-color: darkgray;
  color: white;
}
#username-field:focus {
  box-shadow: 0 0;
}
.custom.loginBtn {
  padding: 5px;
  font-size: 16px;
  float: right;
  border: 0px;
  border-radius: 0px;
  margin-top: 8px;
}
.custom.usernameBtn {
  font-size: 16px;
  float: right;
  border: 0px;
  border-radius: 0px;
  background-color: var(--NavyBlue);
  border-color: var(--NavyBlue);
  color: white;
  height: 35px;
  margin-top: 8px;
}
#UsernameBtn:focus {
  box-shadow: 0 0 0 0.2rem rgba(0,0,0,.10);
}
.loginBox {
  width:500px;
  height:150px;
  background-color: var(--NavyBlue);
  margin: auto;
  transform: translateY(50%);
  border: 5px var(--LightNavyBlue) solid;
  color:white;
  display: table;
}
.loginBoxContent {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.loginBoxContent > button {
  padding-bottom: 10px;
  margin-top: -10px;
}
.settings-cog {
  width: 30px;
  height: 30px;
  margin: 10px 8px 10px 9px;
  display: inline-block;
  float: right;
  cursor:pointer;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}
.settings-cog:hover {
  -webkit-transform: rotate(100deg);
  transform: rotate(100deg);
}
.settings-container {
  display: grid;
  position: absolute;
  right: 0px;
  width: 170px;
  padding: 5px;
  font-size: 14px;
  background: var(--DarkNavyBlue);
  grid-template-rows: auto;
  border-bottom-left-radius: 20px;
}
.settings-container > p {
  padding: 5px;
  margin: 0px;
  cursor: pointer;
  text-align: right;
}
.settings-container > p:hover {
  color: #91cdff;
}
.settings-bg {
  background-color: rgba(33, 36, 42, .75);
  text-align: center;
  padding: 30px;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.settings-modal {
  background-color: var(--DarkerNavyBlue);
  border: 1px solid var(--LightNavyBlue);
  max-width: 820px;
  height: 100%;
  border-radius: 10px;
  margin: auto;
  position: relative;
}
.settings-closeBtn {
  background-color: var(--LightNavyBlue);
  color: red;
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 5px;
  border-radius: 10px;
  width: 30px;
  height: 30px;
  line-height: 22px;
  cursor: pointer;
  font-weight: bold;
}
.settings-title {
  padding: 8px;
  font-weight: bold;
  cursor: default;
  background-color: var(--MedNavyBlue);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid var(--LightNavyBlue);
}
.settings-content {
  display: grid;
  grid-template-columns: 330px auto;
}
.select-custom-loader {
  background-color: var(--MedNavyBlue);
  border-radius: 10px;
  width: 300px;
  padding: 10px;
  margin-left: 30px;
}
.settings-loader-options {
  display: grid;
  grid-template-columns: auto auto;
}
.settings-loader-option {
  margin: 15px;
  background-color: var(--InbetweenerNavyBlue);
  border: 2px solid var(--InbetweenerNavyBlue);
}
.settings-loader-option:hover {
  background-color: var(--NavyBlue);
  cursor: pointer;
}
.settings-loader-option.selected { border: 2px solid #ccc; }
.select-custom-background {
  background-color: var(--MedNavyBlue);
  border-radius: 10px;
  width: 425px;
  padding: 10px;
  margin-left: 30px;
}
.settings-background-options {
  display: grid;
  grid-template-columns: auto auto;
}
.settings-background-option {
  margin: 15px;
  background-color: var(--InbetweenerNavyBlue);
  border: 2px solid var(--InbetweenerNavyBlue);
}
.settings-background-option:hover {
  background-color: var(--NavyBlue);
  cursor: pointer;
}
.settings-background-image {
  width: 170px;
  height: 100px;
}
.settings-background-option.selected { border: 2px solid #ccc; }
.toggle-hidden-seals {
  background-color: var(--MedNavyBlue);
  border-radius: 10px;
  padding: 10px;
  margin-left: 30px;
  margin-top: 20px;
}
#refresh-update-text {
  display: none;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  color: tomato;
  padding: 5px;
}
.menu-bar {
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: relative;
  display: inline-block;
}
.menu-item {
  display: inline-block;
  margin: 0px 5px;
  height: 35px;
  font-size: 15px;
}
.menu-item-disabled {
  display: inline-block;
  margin: 0px 5px;
  height: 35px;
  font-size: 15px;
}
.menu-item > a { color: white; text-decoration: none; }
.menu-item > span { color: white; text-decoration: none; }
.menu-item-disabled > a { color: darkgray; cursor: default; text-decoration: none; }
.menu-item-disabled > span { color: darkgray; cursor: default; text-decoration: none; }
.menu-ul {
  border-bottom: 1px lightblue solid;
  width: 100%;
  margin-top: -8px;
}
.menu-item:hover {
  border-bottom: 1px lightblue solid;
  cursor: pointer;
}
.sidemenu-item {
  padding: 5px;
  text-align: center;
  cursor: pointer;
}
#DevBox {
  background-color: var(--NavyBlue);
  border: 1px var(--LightNavyBlue) solid;
  color: white;
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-size: small;
  text-align: center;
  padding: 5px;
}
.statBox {
  color: white;
  overflow: auto;
  display: table-cell;
  text-align: center;
  width: 300px;
}
.menu-switch-icon { display: none; }
.mobile-menu-bar { display: none; width: 0px; }
select.custom {
  padding-right: 23px !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select.custom::-ms-expand {
  display: none;
}
.error-container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:100%;
  height:100px;
  text-align: center;
}
.error-icon {
  background-size: cover;
  width: 300px;
  height: 300px;
  margin: auto;
}
.warning-container {
  position: absolute;
  top: 50px;
  right: 0px;
  width: 240px;
  height: 170px;
  text-align: center;
  font-size: 12px;
  background: var(--DarkNavyBlue);
  border-bottom-left-radius: 10px;
  padding: 10px;
}
.warning-icon {
  background-size: cover;
  width: 100px;
  height: 100px;
  margin: auto;
}
.transition {
  -webkit-transition: -webkit-transform .5s linear;
}
