@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('Vendors.css');
@import url('Characterdata.css');
@import url('Profile.css');
@import url('Activities.css');
@import url('Piechart.css');
@import url('Loader.css');
@import url('Home.css');
@import url('Triumphs.css');
@import url('Items.css');
@import url('Scrollbar.css');
@import url('Smallscreen.css');
@import url('Mobile.css');
:root {
  --DarkNavyBlue: #1A1D22;
  --NavyBlue: #21242A;
  --LightNavyBlue: #292C33;
  --LighterNavyBlue: #353841;
}
html {
  height: 100%;
}
body {
  height: 100%;
  margin:0px;
  padding:0px;
  font-family: 'Nunito', sans-serif;
  background-color: var(--DarkNavyBlue);
  background-attachment: fixed;
  color:white;
}
#root {
  height: 100%;
}
.App {
  height: 100%;
}
.page-content {
  width: 100%;
  height: 100%;
  padding-top: 50px;
}
.disable-hl {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.title-bar {
  background-color: var(--LightNavyBlue);
  width:100%;
  height:50px;
  position: fixed;
  border-bottom: 1px var(--DarkNavyBlue) solid;
  z-index: 5;
}
.logo {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-right: 5px;
  margin-top: -5px;
}
#logo_title {
  color: white;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
}
#search-form {
  position: absolute;
  right: 5px;
  top: 5px;
}
#search-term {
  background-color: var(--LightNavyBlue);
  border-color: darkgray;
  color: white;
}
#username-field {
  background-color: var(--DarkNavyBlue);
  border-color: darkgray;
  color: white;
}
#username-field:focus {
  box-shadow: 0 0;
}
#LoginBtn {
  padding: 5px;
  font-size: 16px;
  float: right;
  margin-top: 6px;
  border: 0px;
  border-radius: 0px;
}
.loginBox {
  width:500px;
  height:150px;
  background-color: var(--NavyBlue);
  margin: auto;
  transform: translateY(50%);
  border: 5px var(--LightNavyBlue) solid;
  color:white;
  display: table;
}
.loginBoxContent {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.loginBoxContent > button {
  padding-bottom: 10px;
  margin-top: -10px;
}
.settings-cog {
  width: 30px;
  height: 30px;
  margin: 9px 7px 10px 9px;
  display: inline-block;
  float: right;
  cursor:pointer;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}
.settings-cog:hover {
  -webkit-transform: rotate(100deg);
  transform: rotate(100deg);
}
.settings-container {
  width: 200px;
  min-height: 200px;
  position: absolute;
  right: 0px;
  border: 1px var(--NavyBlue)solid;
  border-top: 0px;
  background: var(--LightNavyBlue);
  margin-top: -1px;
}
.menu-bar {
  height:35px;
  line-height: 35px;
  text-align: center;
  position: relative;
  display: inline-block;
  margin-left: 20px;
}
.menu-item { display: inline-block; margin: 0px 10px; height: 28px; }
.menu-item-disabled { display: inline-block; margin: 0px 10px; height: 28px; }
.menu-item > a { color: white; text-decoration: none; }
.menu-item > span { color: white; text-decoration: none; }
.menu-item-disabled > a { color: darkgray; cursor: default; text-decoration: none; }
.menu-item-disabled > span { color: darkgray; cursor: default; text-decoration: none; }
.menu-ul {
  border-bottom: 1px lightblue solid;
  width: 100%;
  margin-top: -8px;
}
.menu-item:hover {
  border-bottom: 1px lightblue solid;
  cursor: pointer;
}
.sidemenu-item {
  padding: 5px;
  text-align: center;
  cursor: pointer;
}
#DevBox {
  background-color: var(--NavyBlue);
  border: 1px var(--LightNavyBlue) solid;
  color: white;
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-size: small;
  text-align: center;
  padding: 5px;
}
.statBox {
  color: white;
  overflow: auto;
  display: table-cell;
  text-align: center;
  width: 300px;
}
.menu-switch-icon { display: none; }
.mobile-menu-bar { display: none; width: 0px; }
select.custom {
  padding-right: 23px !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select.custom::-ms-expand {
  display: none;
}
.error-container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:100%;
  height:100px;
  text-align: center;
}
.error-icon {
  background-size: cover;
  width: 300px;
  height: 300px;
  margin: auto;
}
.transition {
  -webkit-transition: -webkit-transform .5s linear;
}
